
body#acha198{
    background-color:white;
}

ul.tags {
    display: none;
}

.post.photo {
    width: 50%;
    height: 50%;
    float: left;
    display: inline-block;
    margin-bottom: -5px;
    margin-top: -5px;
}
