h3.tag_title {
    font-family: proxima nova;
    margin-left: -693px;
    margin-top: 278px;
    font-size: 45px;
    position: fixed;
    background-color: white;
    padding: 5px;
}

a.link {
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul.tags {
    display: none;
}


article.posts {
    margin: auto;
    width: 36%;
    margin-left: 706px;

}
