
h3.tag_title {
display: none;
}


a.link {
display: none;
}

img, video, object, embed {
    max-width: 100%;
    position: inline-block;
}

#container {
    max-width: 33.33%;
    padding-left:30px;
    
    
}
