
h3.tag_title {
display: none;
}
 
.post.photo {
    width: 32%;
    display: inline-block;
    height: auto;
    margin-top: 150px;
    padding: 0px;
    margin: 0px;
        
}

.post.text.architecture4.jfber4.postnow.sp{
    width: 30%;
  display: inline-block;
  background-color: #eeeeee;
 opacity: 0.9;
 padding: 20px;
 float:left;
 margin-right: 5px;
 margin-top: 60px;
}
 .post.text.architecture4.jfber4.postnow.ct{
     width: 60%;
   display: inline-block;
   background-color: #eeeeee;
  opacity: 0.9;
   padding: 20px;
   float:left;
  margin-left: 5px;
   margin-top: 60px;
}

.copy{
 display: inline-block;
}
a.link {
display: none;
}

img, video, object, embed {
    max-width: 100%;
    position: inline-block;
}



  
.post.photo.architecture4.jfber4.postnow.bg {
    display: none;
}


 .tags{
        
       display: none;
        
    }


.post.text p{
 font-size: 12px;
 line-height: 1.2;
 text-align: left;
 
 
    
}
.container{
 background-image: url("http://65.media.tumblr.com/64dd8933f673810a0cde5331a2b5bbd1/tumblr_of2fiivv1t1vf7reno1_1280.jpg");  
width: 90%;
margin: auto;
text-align: center; 
 margin-top: 150px;
}

h3.title {
    display: none;
}

.hamer {
 position: absolute;
 top: 100px;
 left: 100px;
 font-size: 3em;
 font-family: Helvetica, sans-serif;
 font-weight: bold;

}
    
.like{
 position: fixed;
 left: 10px;
 top: 400px;
 
}

.dislike{
 position: fixed;
 float: right;
 right: 10px;
 top: 400px;
}

.set_photos {
    border: 5px solid blue;
}
