html{
 background-image: url("http://67.media.tumblr.com/1c2464113911c0387f0664edb14df2ed/tumblr_of2fn20OFb1vf7reno1_1280.jpg"); 
}

h3.tag_title {
display: none;
}
 
.post.photo {
    width: 32%;
    display: inline-block;
    height: auto;
    margin-top: 150px;
    padding: 0px;
    margin: 0px;
        
}

.post.text.architecture1.jfber4.postnow.sp{
    width: 32%;
  display: inline-block;
  background-color: #eeeeee;
 opacity: 0.9;
 padding: 20px;
 float:left;
 margin-right: 5px;
 margin-top: 60px;
 height: auto;
 margin-left: 12px;
}
 .post.text.architecture1.jfber4.postnow.ct{
     width: 64.5%;
   display: inline-block;
   background-color: #eeeeee;
  opacity: 0.9;
   padding: 20px;
   float:left;
  margin-left: 2px;
   margin-top: 60px;
   height: auto;
}

.copy{
 display: inline-block;
}
a.link {
display: none;
}

img, video, object, embed {
    max-width: 100%;
    position: inline-block;
}



  
.post.photo.architecture1.jfber4.postnow.bg {
    display: none;
}


 .tags{
        
       display: none;
        
    }


.post.text p{
 font-size: 13px;
 line-height: 1.3;
 text-align: left;
 
 
    
}
.container{ 
width: 88%;
margin: auto;
text-align: center; 
 margin-top: 150px;
}

h3.title {
    display: none;
}

.hamer {
 position: absolute;
 top: 100px;
 left: 100px;
 font-size: 3em;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
color: #03193d;
}
    
.like{
 position: fixed;
 left: 10px;
 top: 400px;
 font-size: 3em;
}

.like:hover{
 font-size: 3.3em;
}

.dislike{
 position: fixed;
 float: right;
 right: 10px;
 top: 400px;
  font-size: 3em;
}

.set_photos {
    border: 10px solid #03193d;
}
.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
 display: none;
}
