
h3.tag_title {
display: none;
}

.chocolat-image.image{
    display: none;
}
.post text architecture4 jfber4 postnow sp{
    width: 25%;
}
 .post text architecture4 jfber4 postnow ct{
     width:75%;
}
.post.text.architecture4.jfber4.postnow{
    background-color: #eeeeee;
    opacity: 0.9;
    padding: 30px 70px 30px 70px;
   display: inline-block;
}

a.link {
display: none;
}

img, video, object, embed {
    max-width: 100%;
    position: inline-block;
}



    .post.photo.architecture4.jfber4.postnow{
    
    
   max-width: 30%;
   display: inline-block;
         border: 10px solid black;
        
        
}

.post.photo.architecture4.jfber4.postnow.bg {
    display: none;
}


 .tags{
        
       display: none;
        
    }


.post.text p{
 font-size: 12px;
 
    
}
.container{
 background-image: url("http://65.media.tumblr.com/64dd8933f673810a0cde5331a2b5bbd1/tumblr_of2fiivv1t1vf7reno1_1280.jpg");  
    
}

h3.title {
    display: none;
}


    
