body#artistdraft {
background-color: yellow;
font
}

body#artistdraft .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    }
body {
    font-family: Baskerville;
    font-size: 10;
    line-height: 20px;
    letter-spacing: 0.02em;
}

body#artistdraft .post {
    display: block;
    width: 340px;
    background: rgb(200, 224, 94);
    float: left;
}

body {
    font-family: Baskerville;
    font-size: 20;
    line-height: 20px;
    letter-spacing: 0.02em;
}
body {
    font-family: arial;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.02em;
}
