article.posts {
    position: relative;
    top: 150px;
}

h3.tag_title {
    padding-bottom: 20px;
    display: none;
}

.nav {position: fixed;right: 20px;top: 125px;}

a {
    text-decoration: overline;
    color: thistle;
    font-size: 22pt;
    font-weight: 300;
    font-family: courier new;
}

.nav {
    font-family: courier new;
    font-size: 20pt;
    top: 129px;
}

/* mouse over link */
a:hover {
    color: powderblue;
}
