body#cheese {
    background-color: blue;
}

body#cheese .post {
    background-color: red;
    font: arial;
}

body#cheese h3.tag_title {
    display: none;
    padding-bottom: 20px;
}

body#cheese ul.tags {
    display: none;
}



