body#cheesedraft {
background-color:blue;
}

body#cheesedraft .post {
background-color:red;
}

body#cheesedraft h3.tag.title {
  display: none;
}

body#cheesedraft ul.tags

body#cheesedraft .post.green {
  background-color:green;
}

