body#cheesedraft {
background-color: blue;
font
}

body#cheesedraft .post {
background-color: red;
}

body#cheesedraft h3.tag.title {
  display: none;
}

body#cheesedraft ul.tags {
  position: fixed;
}

body#cheesedraft .post.green {
  background-color: green;
}

