body#cheese {
background-color: blue;
font
}

body#cheese .post {
background-color: red;
}

body#cheese h3 {
  display: none;
}

body#cheese ul.tags {
  display: none;
}

body#cheese .post.green {
  background-color: green;
}

