body#cheese {
    background-color: navy;
}

body#cheese h3.tag_title {
    display: none;
}

body#cheese ul.tags {
    display: none;
}

body#cheese a.link {
    display: none;
}

body#cheese .post.bigcheese img, video, object, embed {
    max-width: 50%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

body#cheese .post.leanonme img, video, object, embed {
    max-width: 15%;
    height: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 100;
}

body#cheese .post.eatme img, video, object, embed {
    max-width: 15%;
    height: auto;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 100;
}

body#cheese .post.holdme img, video, object, embed {
    max-width: 15%;
    height: auto;
    position: fixed;
    top: 43%;
    left: -1%;
    z-index: 100;
    transform: rotate(270deg);
}

body#cheese .pokeme img, video, object, embed {
    max-width: 15%;
    position: fixed;
    height: auto;
    top: 43%;
    right: -1%;
    transform: rotate(90deg);
    z-index: 100;
}

body#cheese .var1 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: -10.2%;
    top: 30%;
    z-index: 2;
    opacity: 1;
}

body#cheese .var2 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: 60%;
    top: -45%;
    z-index: 1;
    opacity: 1;
    transform: rotate(270deg);
}

body#cheese .var3 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: 40.54%;
    top: 140%;
    z-index: 1;
    opacity: 1;
}

body#cheese .var4 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: -12%;
    top: 250%;
    z-index: 1;
    opacity: 1;
    transform: rotate(90deg);
}

body#cheese .var5 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: 60%;
    top: 300%;
    z-index: 1;
    opacity: 1;
    transform: rotate(180deg);
}

body#cheese .var6 img, video, object, embed {
    max-width: 47.45%;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1;
    opacity: 1;
}



