body#cle19 {
    background-color: khaki;
    font-family: serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: gray;
}

article.posts h3.tag_title {
    display: none;
}

body {
    font-family: serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: white;
}


/* All Post Boxes */
.post {
    display: block;
    float: left;
    width: 500px;
    margin: 40px;
    padding: 20px;
}

/*Menu*/
/*.nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 0px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}*/

.nav {
    position: fixed;
    margin: auto;
    margin-left: -410px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    background: none;
    padding: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
}

/*Nav mouse over link*/
.nav a:hover {
    color: yellow;
    font-size: 15pt;
    text-decoration: underline;
}
