body#cle19 {
    background-color: khaki;
    font-family: serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: black;
}

article.posts h3.tag_title {
    display: none;
}

body {
    font-family: serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: white;
}

/* Hastags */
ol, ul {
    list-style: none;
    display: none;
}

/* All Post Boxes */
.post {
    display: block;
    float: left;
    width: 500px;
    margin: 40px;
    padding: 20px;
}

.nav {
    position: fixed;
    margin: auto;
    margin-left: 500px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    background: none;
    padding: 10px;
    font-family: serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    color: white;
}

/* Nav unvisited link */
.nav a:link {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* Nav mouse over link */
.nav a:hover {
    color: white;
    font-size: 15px;
    font-style: oblique;
}

/* Post Titles */
h3.title {
    font-size: 20px;
    font-family: serif;
    text-decoration: none;
}

/* Post Titles */
h3.title a:link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: serif;
}

/* Post Titles Hover */
h3.title a:hover {
    color: white;
    font-size: 20px;
    font-style: oblique;
    font-family: serif;
}

/*Post Titles Visited */
h3.title a:visited {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: serif;
}

/* Hyperlinks in Text Posts */
.caption p a {
    color: white;
}

.copy p a {
    color: white;
}

.source a {
    color: white;
}
