body#cle19 {
    background-color: khaki;
    font-family: serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: gray;
}

article.posts h3.tag_title {
    display: none;
}

body {
    font-family: serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: white;
}

/*Hide hashtags*/
ol, ul {
    list-style: none;
    display: none;
}

/* All Post Boxes */
.post {
    display: block;
    float: left;
    width: 500px;
    margin: 40px;
    padding: 20px;
}

.nav a {
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 0px 0px 50px 0px;
    font-family: serif, Helvetica, sans-serif;
    color: black;
}

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a href="#PostNow">Post Now</a></li>
  <li><a href="#Publication">Publication</a></li>
  <li><a href="#Change">Change</a></li>
  <li><a href="#Sibi">Sibi</a></li>
  <li><a href="#Association">Association</a></li>
  <li><a href="#Trail">Trail</a></li>
  <li><a href="#Axis">Axis</a></li>
  <li><a href="#ObjectSubject">Object Subject</a></li>
</ul>
