body#cochlea h3.tag_title {
	display: none;
}

body#cochlea ul.tags {
	display: none;
}

body#cochlea a.link {
	display: none;
}

body#cochlea .copy {
	display: none;
	min-width: 400px;
}


h3 {
    text-transform: uppercase;
    margin-left: 30%;
    margin-top: 30%;
    color: blue;
    position: fixed;
}


body#cochlea .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#cochlea {
    font-family: arial;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.02em;
}


body#cochlea .copy {
	font-size: 24px;
	color: white;
	line-height: 1.3;
	max-width: 600px;
    position: absolute;
    left: 0px;
top:0px;
    visibility: hidden;
}



a {
    text-decoration:underline;
    line-height: 54pt;
    width: 1000px;
    z-index: 1;
    font-size: 40pt;
    text-align: center;
}


body#cochlea .post:hover .copy {
    display:block;
	visibility: visible;
}



body#cochlea .post {
	max-height: auto;
	max-width: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
}

body#cochlea .post:hover {
	z-index: 9999;
}

<video controls autoplay>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

body#cochlea .post.cochleavid {
	top: 17%;
	left: 20%;
	z-index: 9999;
}

body#cochlea .post.cochlea1 {
	top: 12%;
	left: 60%;
	text-align: right;
}

body#cochlea .post.cochlea2 {
	top: 0%;
	left: 60%;
}

body#cochlea .post.cochlea3 {
	top: 60%;
	left: 50%;
}

body#cochlea .post.cochlea4 {
	top: 0%;
	left: 60%;
	text-align: right;
}

body#cochlea .post.cochlea5 {
	top: 60%;
	left: 12%;
}

body#cochlea .post.cochlea6 {
	top: 11%;
	left: 60%;
	text-align: right;
}

body#cochlea .post.cochlea7 {
	top: 60%;
	left: 0%;
}

body#cochlea .post.cochlea8 {
	top: 43%;
	left: 60%;
}

body#cochlea .post.cochlea9 {
	top: 60%;
	left: 20%;
}

body#cochlea .post.cochlea10 {
	top: 17%;
	left: 45%;
}

body#cochlea .post.cochlea11 {
	top: 60%;
	left: 47%;
}

body#cochlea .post.cochlea12 {
	top: 0%;
	left: 10%;
}

body#cochlea .post.cochlea13 {
	top: 0%;
	left: 30%;
}

body#cochlea .post.cochlea14 {
	top: 18%;
	left: 12%;
}

body#cochlea .post.cochlea15 {
	top: 50%;
	left: 20%;
}

body#cochlea .post.cochlea16 {
	top: 8%;
	left: 50%;
}

body#cochlea .post.cochlea17 {
	top: 60%;
	left: 50%;
}

body#cochlea .post.cochlea18 {
	top: 50%;
	left: 20%;
}

body#cochlea .post.cochlea19 {
	top: 40%;
	left: 12%;
}

body#cochlea .post.cochlea20 {
	top: 0%;
	left: 36%;
}

body#cochlea .post.cochlea21 {
	top: 0%;
	left: 57%;
}

body#cochlea .post.cochlea22 {
	top: 60%;
	left: 60%;
}

body#cochlea .post.cochlea23 {
	top: 15%;
	left: 0%;
}


body#cochlea .post.cochlea26 {
	top: 9%;
	left: 0%;
}

body#cochlea .post.cochlea27 {
	top: 0%;
	left: 49%;
}

body#cochlea .post.cochlea28 {
	top: 0%;
	left: 40%;
}

body#cochlea .post.cochlea29 {
	top: 0%;
	left: 33%;
}

body#cochlea .post.cochlea30 {
	top: 0%;
	left: 29%;
}

body#cochlea .post.cochlea31 {
	top: 9%;
	left: 55%;
}

body#cochlea .post.cochlea32 {
	top: 0%;
	left: 20%;
}

body#cochlea .post.cochlea33 {
	top: 40%;
	left: 14%;
}

body#cochlea .post.cochlea34 {
	top: 60%;
	left: 32%;
	text-align: left;
}

body#cochlea .post.cochlea35 {
	top: 15%;
	left: 44%;
}

body#cochlea .post.cochlea36 {
	top: 55%;
	left: 44%;
}

body#cochlea .post.cochlea37 {
	top: 35%;
	left: 44%;
}

body#cochlea .post.cochlea38 {
	top: 15%;
	left: 46%;
}

body#cochlea .post.cochlea39 {
	top: 44%;
	left: 29%;
}

body#cochlea .post.cochlea40 {
	top: 50%;
	left: 50%;
}

body#cochlea .post.cochlea41 {
	top: 29%;
	left: 48%;
}

body#cochlea .post.cochlea42 {
	top: 35%;
	left: 54%;
}
body#cochlea .post.cochlea43 {
	top: 0%;
	left: 44%;
}

body#cochlea .post.cochlea44 {
	top: 0%;
	left: 50%;
}

body#cochlea .post.cochlea45 {
	top: 0%;
	left: 44%;
}

body#cochlea .post.cochlea46 {
	top: 60%;
	left: 50%;
}

body#cochlea .post.cochlea48 {
	top: 50%;
	left: 10%;

}
