body#cochlea h3.tag_title {
	display: none;
}

body#cochlea ul.tags {
	display: none;
}

body#cochlea a.link {
	display: none;
}

body#cochlea .copy {
	display: none;
	min-width: 400px;
}


body#cochlea .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#cochlea {
    font-family: arial;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.02em;
}


body#cochlea .copy {
	font-size: 24px;
	color: white;
	line-height: 1.3;
	max-width: 600px;
    position: absolute;
    left: 0px;
top:0px;
    visibility: hidden;
}


body#cochlea .post:hover .copy {
    display:block;
	visibility: visible;
}



body#cochlea .post {
	max-height: auto;
	max-width: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
}

body#cochlea .post:hover {
	z-index: 9999;
}

body#cochlea .post.cochlea1 {
	top: 0%;
	left: 50%;
}

body#cochlea .post.cochlea2 {
	top: 0%;
	left: 80%;
}

body#cochlea .post.cochlea3 {
	top: 60%;
	left: 50%;
}

body#cochlea .post.cochlea4 {
	top: 0%;
	left: 100%;
	text-align: right;
}

body#cochlea .post.cochlea5 {
	top: 70%;
	left: 12%;
}

body#cochlea .post.cochlea6 {
	top: 11%;
	left: 100%;
	text-align: right;
}

body#cochlea .post.cochlea7 {
	top: 60%;
	left: 0%;
}

body#cochlea .post.cochlea8 {
	top: 43%;
	left: 80%;
}

body#cochlea .post.cochlea33 {
	top: 40%;
	left: 14%;
}


