body#cochlearesearch h3.tag_title {
    display: none;
}

body#cochlearesearch a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

body#cochlearesearch a {
    display: none;
}

body#cochlearesearch .iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}


body#cochlearesearch .copy {
    font-family: arial;
    font-size: 60pt;
    line-height: 1.1;
}

<video controls autoplay>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
