body#curateorange .post {
display:block;
float:left;
margin-right:0px;
border:1px solid #000;
margin-bottom:0px;
}

body#curateorange a.link {
    font-family: arial;
}

body#curateorange .post .postcontainer {
    padding: 0 18px;
}

body#curateorange .post.col1of4 {
    width: 25%;
}

body#curateorange .post.col1of3 {
    width: 33.33333%;
}

body#curateorange .post.col1of2 {
    width: 50%;
}

body#curateorange .post.clear {
    clear: both;
    display: inherit;
    float: none;
    border: 0px;
    height: 1px;
    overflow: hidden;
}
