/*Whole page*/
.container {
    padding: 150px 0px 0px 200px;
}

/*Audio posts*/
.post.audio.dictionaried {
    width: 100%;
    margin: 15px;
    display: block;
    float: left;
    align-items: center;
    padding: 10px 10px 50px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Dictionary word*/
.caption {
    font-size: large;
    text-transform: uppercase;
}

/*Hiding tags*/
.tag_title {
    display: none;
}

/*Hiding tags*/
ul.tags {
    display: none;
}

/*Hiding plays*/
span.play-count {
    display: none;
}

/*Hiding permalink*/
a.link {
    display: none;
}

/*Dictionaried page title*/
h3.title {
    padding: 40px 0px 0px 40px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Georgia, serif;
    font-size: 3em;
    text-transform: capitalize;
    font-weight: bold;
    z-index: -1;
}

/*Dictionaried page title hide the link underline*/
a {
    text-decoration: none;
    color: blue;
}

/*Page description position*/
.post.text.dictionaried.subheading {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 25px 25px 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: blue;
}

/*Scroll bar blue*/
::-webkit-scrollbar-thumb{
	background-color: blue;
	height: 10px;
    }

::-webkit-scrollbar:horizontal{
    display: none;
    }
