/*Whole page*/
.container {
    padding: 100px;
}

/*Audio posts*/
.post {
    width: 33%;
    display: block;
    float: left;
    align-items: center;
    padding: 10px 10px 50px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Dictionary word*/
.caption {
    color: blue;
    font-size: medium;
}

/*Hiding tag*/
.tag_title {
    display: none;
}

/*Hiding tag*/
ul.tags {
    display: none;
}

/*Hiding plays*/
span.play-count {
    display: none;
}

/*Hiding tag*/
a.link {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*Dictionaried page title*/
h3.title {
    padding: 20px 0px 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Georgia, serif;
}

/*Dictionaried page title hide the link underline*/
a {
    text-decoration: none;
}

/*Page description position*/
.post.text.dictionaried.subheading {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 50px 50px 0px;
}
