body#diyresearch {
background-color:#d6d8d8;
    font-size:16px;
}

body#diyresearch .post {
background-color:red;
}

body#diyresearch h3.tag_title {
    display: none;
}

body#diyresearch ul.tags {
    display: none;
}
