body#diyresearch {
background-color:#d6d8d8;
    font-size:16px;
   
}

body#diyresearch .post {
background-color:#f5f4f4;
 
}

body#diyresearch h3.tag_title {
    display: none;
}

body#diyresearch ul.tags {
    display: none;
}

body#diyresearch .post {
    background-color: #b5fbeb;
}

body#diyresearch .post {
    font-family: arial;
    font-size: 23px;
    line-height: 22px;
    letter-spacing: 0.02em;
    width: 1000px;
}
