body#diyresearch {
background-color:#d6d8d8;
    font-size:16px;
}

body#diyresearch .post {
background-color:#f5f4f4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}
body {
    font-family: arial;
    font-size: 10;
    line-height: 20px;
    letter-spacing: 0.02em;
}
body#diyresearch h3.tag_title {
    display: none;
}

body#diyresearch ul.tags {
    display: none;
}

body#diyresearch .post {
    background-color: #b5fbeb;
}
body#diyresearch .post {
    display: block;
    width: 340px;
    background: rgb(200, 224, 94);
    float: left;
    margin-right: 38px;
}


