body#documentdraft {
  margin: 0;
  padding: 0;
}

body#documentdraftarticle.posts {
    width: 60000px;
    height: 100vh;
}

body#documentdraft .container {
    overflow-x: scroll;
}

body#documentdraft .post {
    width: 300px;
}

body#documentdraft a.link {
    display: none;
}

.container {
    overflow-y: hidden;
}

body#documentdraft article.posts {
   line-height: 0; 
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
   column-count: 5;
   column-gap: 0px;
}

body#documentdraft ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

body#documentdraft .post.photo.documentdraft {
    width: 100% !important;
    height: auto !important;
}

body#documentdraft .post.photo.documentdraft {
    padding: 0 5px 10px 5px;
}

.iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}

@media (max-width: 1200px) {
body#documentdraft .post.photo.documentdraft {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  }
}

@media (max-width: 1000px) {
body#documentdraft .post.photo.documentdraft {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
body#documentdraft .post.photo.documentdraft {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
body#documentdraft .post.photo.documentdrafts {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body#documentdraft ::-webkit-scrollbar {
    display: none;
}
