body#documentdraftarticle.posts {
    width: 60000px;
    height: 100vh;
}

body#documentdraft .container {
    overflow-x: scroll;
}

body#documentdraft .post {
    width: 300px;
}

body#documentdraft a.link {
    display: none;
}

.container {
    overflow-y: hidden;
}

body#documentdraft article.posts {
    line-height: 0;
    column-count: 5;
    column-gap: 0px;
}

body#documentdraft ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

body#documentdraft .post.photo.documentdraft {
    width: 100% !important;
    height: auto !important;
}

body#documentdraft .post.photo.documentdraft {
    padding: 0 5px 10px 5px;
}

.iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}

@media (max-width: 1200px) {
body#documentdraft .post.photo.documentdraft {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  }
}

body#documentdraft ::-webkit-scrollbar {
    display: none;
}
