body {
font-family: arial;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.02em;
padding-left: 100pt;
}

a {
text-decoration: underline;
display: none;
}

b {
font-weight: bold;
}

li {
color: darkgoldenrod;
font-size: 12pt;
}

body#eatjapanrecipe {
    background: url(http://67.media.tumblr.com/37dbed5168bb4bba1e9f3f826351b651/tumblr_ofn4rzRwtm1vf7reno1_1280.jpg);
    background-repeat: repeat;
    position: fixed;
}
