body#eatjdraft {
background-color:beige;
    font-size:16px;
}

body#eatjdraft .post {
background-color:brown;
}

body#eatjdraft h3.tag_title {
    font-size: 24px;
    font-family:courier;
}

body#eatjdraft ul.tags {
    display: none;
}
