body#eatjresearch {
background-color:#eadcb5;
    font-size:16px;
}

body#eatjresearch .post {
background-color:#f5f4f4;
align-content: center

}
body#eatjresearch .post.text {
    background-color: #d9b678;
    left: 810px;
    right: 810px;
    width: 500px;
    width: 900px;
    overflow-y: scroll;
    margin-top: 150px;
    margin-left: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    height:200px
}
