body#eatjdraft {
background-color:white;
    font-size:20px;
}

.post {
	width: 500px;
        margin: 20px auto;
        padding: 50px;
	background-color:antiquewhite;
}

.post.photo {
	width: 25%;
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}



.post img{
	border:3px solid white;
}

.post.eatj {
	color: #af9768;
	width: 100%;
}

.post.backgrounds {
	width: 50%;
	margin: auto;
	display: block;
	text-align: center;
	float: none;
}


.post h3.title {
	text-align: center;
}

h3.tag_title {
	display: none;
}
