body {
    background: #fffdfa;
    font-family: arial;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    padding-left: 210pt;
    padding-right: 210pt;
    text-align: -webkit-left;
}


.post.text p {
    color: #905f1e;
}


a {
    text-decoration: none;
    color: #905f1e;
    font-weight: 600;
    line-height: 45pt;
}

ol, ul {
    list-style: none;
    display: none;
}

h3.tag_title {
    display: none;
}

a.link {
    display: none;
}

body#eatjapanrecipe3 {
    background: url(http://66.media.tumblr.com/16eec5046ab6f49631729fad89b04212/tumblr_ofwrhzpy0q1vf7reno1_1280.jpg);
    background-repeat: repeat-y;
}
