body {
font-family: arial;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.02em;
padding-left: 100pt;
background: url(http://67.media.tumblr.com/37dbed5168bb4bba1e9f3f826351b651/tumblr_ofn4rzRwtm1vf7reno1_1280.jpg);
background-repeat: repeat;
position: fixed;
}

ul.tags li {
    font-size: 16px;
    display: none;
b {
font-weight: bold;
    font-size: 13pt;
}
    

h3.tag_title {
padding-bottom: 0;
}


a {
	text-decoration: none;
color: darkgoldenrod;
font-weight: bold;
}
