body#eatjdraft {
  background-image: url("https://texturefabrik.files.wordpress.com/2013/05/29-05-13_paper07.jpg")
  
}

body#eatjdraft h3.tag_title {
    font-size: 24px;
    font-family:arial;
}

body#eatjdraft ul.tags {
    display: none;
}
body#eatjdraft .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    }

body#everydaydraft .h3 {
    display: none;
}

body#everydaydraft .ul {
    display: none;
}

