
h3.tag_title {
display: none;
}

ul.tags {
    display: none;
}

.copy{
    font-size:14px;
    line-height:14pt;
}

.caption{
    font-size:14px;
    line-height:14pt;
}


 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    display: block;
    float: left;
    width: 300px;
    margin: 50px;
}

.post:nth-child(odd) {
    float: right;
    width: 300px;
    margin: 60px;
}'








i {
    font-style: italic;
}
