
h3.tag_title {
display: none;
}

ul.tags {
    display: none;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}



 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    display: block;
    float: left;
    width: 300px;
    margin: 50px;
}

.post:nth-child(odd) {
    float: right;
    width: 300px;
    margin: 60px;
}'


a {
    text-decoration: underline;
    color: black;
}

a.link {
    display: none;
}


h3 {
    text-transform: lowercase;
    color: black;
}



.post.lockjaw1 {
    width: 600px;
}






i {
    font-style: italic;
}

b {
    text-decoration: underline;
}


span.play-count{
    text-transform: uppercase;
}












.textheading {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 3.5em;
    line-height: 1em;
    text-decoration: none;
 position:fixed;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index:9999999999;
   
}


.container {
    padding-top: 400px;
}

