
h3.tag_title {
display: none;
}

ul.tags {
    display: none;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}



 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    display: block;
    float: left;
    width: 300px;
    margin: 35px;
    max-height:400px;
}

.post:nth-child(odd) {
    float: right;
    width: 300px;
    margin: 60px;
}'


a {
    text-decoration: underline;
    color: black;
}




h3 {
    text-transform: lowercase;
    color: black;
}



.post.lockjaw1 {
    width: 600px;
}






i {
    font-style: italic;
}

b {
    text-decoration: underline;
}


span.play-count{
    text-transform: uppercase;
}




.post.ebcal1mainheading {
    width: 300px;
    margin-left: 50%;
    left: -150px;
    z-index: 9999;
    position: fixed;
    top: 60%;
    margin-top: -150px;
}




a{
   color:LightSlateGray;
}

span.time {
    display:none;
}


a.link {
    display:none;
}


