a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

.post.ebpik1 {
    width: 30%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.post.ebpik1.hdiydraft {
    overflow: scroll;
    height: 410px;
}

.post.ebpik1.curiosity {
    height: 200px;
    overflow: scroll;
}

.post.ebpik1.hdiyresearch {
    overflow: scroll;
    height: 410px;
}

.post.ebpik1.honestlydoityourself {
    overflow: scroll;
    height: 410px;
}

.post.ebpik1.sibi {
    overflow: scroll;
    height: 410px;
}

.post.ebpik1.objectsubject {
    overflow: scroll;
    height: 410px;
}
