body#encyclopediadraft .post.photo.encyclopediadraft {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

body#encyclopediadraft .post.text.encyclopediadraft {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
