h3.tag_title {
    display: none;
}

a.link {
    display: none;
}

ul.tags {
    display: none;
}

h3.title {
    font-family: montserrat,monospace;
    font-size: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: hotpink;
}

p {
    padding-bottom: 1em;
}

.dot {
    font-size: 30px;
}

.para {
    font-size: 50px;
    line-height: 1em;
}
