body#encyclopediaresearch .post.photo.encyclopediaresearch {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body#encyclopediaresearch .post.text.encyclopediaresearch {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body#encyclopediaresearch p {
    max-width: 700px;
}

body#encyclopediaresearch p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 8pt;
    line-height: 12pt;
    padding-bottom: 120px;
    padding-top: 30px;
    color: hotpink;
}

body#encyclopediaresearch a.link {
    display: none;
}

body#encyclopediaresearch ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

body#encyclopediaresearch h3.title {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32pt;
    padding-bottom: 30px;
    line-height: 1em;
    color: hotpink;
}

.post img {
    display: inline-block;
    max-width: 500px;
    cursor: default;
}

h1 {
    font-family: montserrat,monospace;
    font-size: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: hotpink;
}
