body#encyclopediadraft .post.photo.encyclopediadraft {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body#encyclopediadraft .post.text.encyclopediadraft {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body#encyclopediadraft p {
    max-width: 700px;
}

body#encyclopediadraft p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 8pt;
    line-height: 12pt;
    padding-bottom: 120px;
    padding-top: 30px;
}

body#encyclopediadraft a.link {
    display: none;
}

body#encyclopediadraft ul.tags {
    display: none;
}

body#encyclopediadraft h3.title {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 64pt;
    padding-bottom: 60px;
    line-height: 1em;
}

.post img {
    display: inline-block;
    max-width: 500px;
}

h3.tag_title {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    pointer-events: none;
    cursor: default;
}
