body#encyclopediacontent article.posts {
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
   column-count: 5;
   column-gap: 0px;
}

p {
    font-size: 6px;
    line-height: 1em;
}

ul.tags {
    display: none;
}

a.link {
    display: none;
}

h3.title {
    display: none;
}

h3.tag_title {
    display: none;
}

body#encyclopediacontent .post.encyclopediacontent {
    padding: 5px;
}

h1 {
    font-family: montserrat,monospace;
    font-size: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
