body#encyclopediacontent article.posts {
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
   column-count: 5;
   column-gap: 0px;
}

p {
    font-size: 6px;
    line-height: 1em;
}

ul.tags {
    display: none;
}

a.link {
    display: none;
}

h3.title {
    display: none;
}

h3.tag_title {
    display: none;
}

body#encyclopediacontent .post.encyclopediacontent {
    padding: 0 5px 0 5px;
}

.post img {
    display: inline-block;
    cursor: default;
}

.text a {
    text-decoration: none;
    color: hotpink;
    pointer-events: none;
    cursor: default;
}

.append {
    position: fixed;
    padding: 50px;
}

.header {
    padding-bottom: 40px;
    text-align: left;
    font-family: Montserrat;
}

h1 {
    font-family:  Montserrat;
    font-weight: bold;
    line-height: 1em;
    font-size: 64px;
    text-decoration: none;
    color: hotpink;
}

a {
    text-decoration: none;
    line-height: 2em;
    font-size: 16px;
}

p {
    display: none;
}

.post.text.encyclopediabrief.para.msbla3.encyclopediacontent {
    display: none;
}
   
.copy {
    display: none;
}
