body#everydaydraft .post {
    display: block;
    max-width:500px;
    max-height: 500px;
    }

body#everydaydraft h3.tag_title{
    display: none;
}

body#everydaypost ul {
    display: none;
}

body#everydaypost a.link{
    display: none;
}



