body#everydaydraft .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    }

body#everydaydraft .h3 {
    display: none;
}

body#everydaydraft .ul {
    display: none;
}


