.post {
    display: block;
    }

h3.tag_title {
    display: none;
}

.post ul.tags {
	display:none;
}

.post a.link {
	display:none;
}

.post.photo {
    margin-left: auto;
    margin-right: auto;
	max-width:500px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

h3 {
    font-family: verdana;
    font-size: 20px;
	font-weight: bold;
	color: blue;
}

.post.text {
    width: 50%;
    display: block;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.post.yes {
    color: green;
}

.post.no {
    color: red;
}
