body#ff{
background-color: blue;
}

body#ff h3.tag_title {
display: none;
}

body#ff ul.tags {
    display: none;
}

body#ff .copy {
    display: none;
}

body#ff a.link {
    display: none;
}

body#ff .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
body#ff .post:hover {
    z-index: 999;
}

body#ff .post {
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top:0px;
    left:0px;
    
}







body#ff .post.frank1 {
    left: 954.962px;
    top: 30px;
    width: 170px;
}
