body#fff{
   background: -webkit-linear-gradient(red, yellow);
}
body#fff h3.tag_title {
display: none;
}

body#fff ul.tags {
    display: none;
}

body#fff .copy {
    display: none;
}

body#fff a.link {
    display: none;
}

body#fff .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
body#fff .post:hover {
    z-index: 999;
}
.chocolat-wrapper {
    display: none;
}
body#fff .post {
  width: 300px;
   position: absolute;
    
}







body#fff .post.frank1 {
    right: 0px;
    bottom: 0px;
}
