/* test file*/

h3.tag_title {
    display: none;
}

a.link {
    display: none;
}

ul.tags {
    display: none;
}

body, p {
    font-family:Helvetica;
    font-weight:900;
    color:rgba(0,0,0,.85);
    font-size:12px;}
}

img.set_photos:hover {
    opacity: 0; 
    -webkit-transition: opacity .25s ease;
}
