/* test file*/
body#formulad {
    font-family:Helvetica;
    margin: auto 0;
}

body#formulad h3.tag_title {
    display: none;
}

body#formulad a.link {
    display: none;
}

body#formulad ul.tags {
    display: none;
}

img.set_photos:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity .25s ease;
}

.copy {
    border: 1px solid #ccc;
    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
}


.postcontainer:hover .copy {
    display:block; 
}
