
body#giffiction {
  background-image: url("http://graphicdesignjunction.com/wp-content/uploads/2012/08/minimal-background-pattern-wordpress-3.jpg")
}

body > iframe:first-child { 
  display: none !important; 
}

.tags {
  display: none;
}

a.link {
  display: none;
}

p {
    line-height: 24px;
}

p a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

p a:hover {
  color: red;
}

/* Hide Posts Tagged For Header */
h3.tag_title {
  display: none;
}

.post.header {
    position: fixed;
    max-width: 300px;
    top: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    border-top: 5px solid red;
}

.post.rationale {
    width: 960px;
    margin-left: 120px;
}

.rationale p {
    font-size: 18px;
    margin: 18px 200px;
    /* max-width: 800px; */
}

h3.title {
  margin-bottom: 15px;
}

h3 a {
  pointer-events:none;
  font-size: 32px;
  font-weight: 600;
  color: red;
  text-decoration: none;
}

/* Settings for all posts */
.post {
  width: 80%;
  display: block;
  margin: 0 auto;
}

img.set_photos {
 width: 100%; 
 pointer-events:none;
}

.post.photoset {
  margin: 0 auto 50px auto;
  padding-bottom: 40px;
  border-bottom: 2px solid red;
}

.photoset img.set_photos {
  width: 100%;
}

.photoset span.caption {
    position: relative;
    display: block;
    font-size: 36px;
    line-height: 38px;
    color: #fff;
    text-shadow: 2px 2px #000;
    padding: 0 35px;
    text-align: center;
    top: -200px;
    height: 10px;
}

@media only screen and (max-width: 728px) {
  .photoset span.caption {
      font-size: 18px;
      line-height: 25px;
  }
  
  .post.rationale {
    width: 100%;
    margin-left: auto;
}
  
  .post.header {
    display: none;
  }
}
