h3.tag_title {
    display: none;
}
a.link {
    display: none;
}
ul.tags {
    display: none;
}
.container {
    max-width: 10%;
}
.post {
    display: block;
    padding: 5%;
    float: left;
    margin: 10px;
    width: 5%;
}
.container {
    max-width: 100%;
}
