h3.tag_title {
    display: none;
}
a.link {
    display: none;
}
ul.tags {
    display: none;
}
.container {
    max-width: 100%;
    padding: 5px;
}
.post {
    float: left;
    margin: 4px;
    width: 5%;
}
.copy {
    position: relative;
    font-size: 10px;
    text-align: center;
    padding: absolute;
    top: -45px;
    color: white;
    float: initial;
    display: none
}
.postcontainer:hover .copy {
    display: block
}   
.buttons-container.non-admin-buttons-container {
    display: none;
}
.legend {
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 9;
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}
