h3.tag_title {
    display: none;
}
a.link {
    display: none;
}
ul.tags {
    display: none;
}
.container {
    max-width: 100%;
    padding: 5px;
}
.post {
    float: left;
    margin: 4px;
    width: 5%;
}
.copy {
    font-size: 10px;
    padding-left: 10px;
    align-content: center;
}
.legend  {
position:fixed;
bottom:10px;
left:10px;
z-index:9;
}
