<!doctype html>

<html>

    <head>

    <title>GotPricked</title>

            <style>
			
			html, body {
				margin: 0px;
				padding: 0px;
			}

            .embed-container { 
                position: relative; 
                display: flex;
				height: calc(13.956447vw);
				min-height: 170px;
            }

            .embed-container iframe, .embed-container object, .embed-container embed { 
                top: 0; 
                left: 0; 
                flex-grow: 1;
            }
			
			#footer-wrap {
				position: fixed;
				height: 100px;
				bottom: 200;
				width: 100%;
				z-index: 100;
				background: transparent;
				color: white;
				text-transform: uppercase;
				text-align: left;
				font-size: 400%;
				font-variant: small-caps;
				font-weight: bold;
				word-break: keep-all;
				letter-spacing: 20px; 
			

			}

			.love {

				font-style: italic;
				color: white;
			}

			.fuck {

				text-decoration: line-through;
				color: rgb(255, 45, 0);
				font-size: 200%;
			}
			
			#footer{ 
				margin-bottom: 100px;


			}

            </style>

    </head>

    <body>
	
	
	<div id="footer-wrap">
		<div id="footer">
			
			
			"Roses may say 
					
			
		</div>

		<div id="footer">
						
			
			<span class="love">"I love you," 

			
		</div>

		<div id="footer">
				
			
			But the cactus says
						
			
		</div>

		<div id="footer">
					
			
			<span class="fuck"> "Fuck off."" 
						
			
		</div>
	</div>
