a.link {
    /* 
    display: block; if you want to see links
    display: none; if you want to hide linkes
    */
    display: block;
}

.container {
    font-size: 43px;
    padding: 0px;
}

ul.tags {
    display: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

iframe#youtube_iframe, iframe.ytplayer {
    max-height: calc(192px);
    width: 100%;
    /* flex-grow: 1; */
}

div.post {
    flex-grow: 1;
}

.caption {
 display:none; 
}

h3 {
  display:none; 
}

.buttons-container.non-admin-buttons-container {
    display: none;
}
