.container {
    font-size: 43px;
}

a.link {
    display: none;
}

ul.tags {
    display: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

iframe#youtube_iframe {
    max-height: calc(17vh);
    width: 100%;
    /* flex-grow: 1; */
}

div.post {
    flex-grow: 1;
}
