body#grid .post {
display:block;
float:left;
}

body#grid .post.col1of4 {
    width: 25%;
}

body#grid .post.col1of3 {
    width: 33.33333%;
}

body#grid .post.col1of2 {
    width: 50%;
}

body#grid .post .container {
padding:20px;
}
