body#happybeing{
 background:white; 
}



/*body#happybeing*/ .post.text.happybeing.leftparty {
    right: 50%;
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
margin-right: 0px;
font-family: Akzidenz Grotesk, sans-serif;
font-size:18px;
line-height:27px;
 color:blue;
 padding-left:20px;
 padding-bottom:40px;
}

.post.text.happybeing.rightparty {
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    left: 50%;
    display: block;
    margin-right: 0px;
    font-family:Bodoni, serif;
font-size:20px;
line-height:27px;
 color:red;
 padding-bottom:40px;
}

/*body#happybeing*/ ul.tags {
    display: none;
}
/*body#happybeing*/ a.link {
    display: none;
}

h3.tag_title {
    display: none;
}

.post.text p {
    padding-bottom: 20px;
}
