body#happybeing{
 background:white; 
}



/*body#happybeing*/ .post.text.happybeing.leftparty {
    right: 50%;
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
margin-right: 0px;
font-family: Akzidenz Grotesk, sans-serif;
font-size:18px;
line-height:27px;
 color:blue;
 padding:80px;
 margin-top: 120px;
  margin-bottom:80px;
}

.post.text.happybeing.rightparty {
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    left: 50%;
    display: block;
    margin-right: 0px;
    font-family:Bodoni, serif;
font-size:20px;
line-height:27px;
 color:red;
 padding:80px;
 margin-top: 120px;
 margin-bottom:80px;
}

/*body#happybeing*/ ul.tags {
    display: none;
}
/*body#happybeing*/ a.link {
    display: none;
}

h3.tag_title {
    display: none;
}

.post.text p {
    padding-bottom: 20px;
}

b {
    font-weight: bold;
}

.buttons-container.non-admin-buttons-container {
    display: none;
}

.postcontainer {
    padding-bottom: 80px;
}

h2.LeftParty {
    position: fixed;
    width: 50%;
    padding: 80px;
    top: -30px;
    color: blue;
    font-family:Bodoni, serif;
    font-size:30px;
    line-height:42px;
 font-weight:bold;
}


h2.RightParty {
    position: fixed;
    width: 50%;
    padding: 80px;
    top: -30px;
    color: red;
    margin-left: 50%;
    font-family: Akzidenz Grotesk, sans-serif;
    font-size:30px;
    line-height:42px;
 font-weight:bold;
}
