
body#happybeingdraft{
 background:white; 
}



body#happybeingdraft .post.text.happybeingdraft.leftparty {
    right: 50%;
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
margin-right: 0px;
font-family: Akzidenz Grotesk, sans-serif;
font-size:18px;
line-height:27px;
 color:blue;
 padding-right:20px;
}

.post.text.happybeingdraft.rightparty {
    top: 0px;
    width: 50%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    left: 50%;
    display: block;
    margin-right: 0px;
    font-family:Bodoni, serif;
font-size:20px;
line-height:27px;
 color:red;
}

body#happybeingdraft ul.tags {
    display: none;
}
body#happybeingdraft a.link {
    display: none;
}
