
.post {
    width: 20%;
    display: block;
    float: left;
    padding: 20px;
    font-size: 10px;
    font-family: arial;
    line-height: 18px;
}

a.link {
    display: block;
    font-size: 10px;
    font-family: courier;
    text-transform: uppercase;
}

.post.text.hcmcf1.sharedidentityresearch.heading {
    display: none;
}

.post.text.sharedidentity.hcmcf1.search {
    display: none;
}


.post.text p {
    width: 300px;
    height: 300px;
}



.post {
    width: 25%;
    display: block;
    float: right;
    padding: 51px;
    font-size: 10px;
    font-family: arial;
    line-height: 18px;
    margin-left: 0;
    height: 300px;
    position: static;
}
