
p {
    padding-top: 5px;
    padding-bottom: 10px;
}
}

.post.photo.hcmcf1.sharedidentityresearch.postnow.facebookprofile.curatepeople {
    display: none;
}

.post {
    font-size: 13px;
    line-height: 20px;
}

.post.photo.hcmcf1.sharedidentityresearch.postnow.facebookprofile.sharedidentity.curatepeople {
    display: none;
    
   
}

.post.photo.hcmcf1.sharedidentityresearch.facebookprofile {
    display: none;
}

.post.photo.hcmcf1.sharedidentityresearch.postnow.sharedidentity.curatepeople {
    display: none;
}

