
p {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: normal;
}
 


.post.photo.hcmcf1.sharedidentityresearch.postnow.facebookprofile.curatepeople {
    display: none;
}



post {
    line-height: 20px;
    display: block;
    float: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 60px;
    width: 50%;
    text-align: left;
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 50px;
    margin-left: 50%;
}

.post.photo.hcmcf1.sharedidentityresearch.postnow.facebookprofile.sharedidentity.curatepeople {
    display: none;
    
   
}

.post.photo.hcmcf1.sharedidentityresearch.facebookprofile {
    display: none;
}

.post.photo.hcmcf1.sharedidentityresearch.postnow.sharedidentity.curatepeople {
    display: none;
}

.post.text.sharedidentity.hcmcf1.search {
    display: none;
}


.post.text.hcmcf1.sharedidentityresearch.heading {
    display: none;
}




ul.tags {
    display: none;
}

.post.text.hcmcf1.sharedidentitydraft.title.sharedidentity {
    display: none;
}

container {
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}

.photoset img.set_photos {
    width: 100%;
    height: auto;
}

img.set_photos {
    float: right;
    margin-right: -35px;
        margin-left: 19px;

}
.post.text.mpkra1.kmea7.hcmcf1.curategreen {
    display: none;
}

.post.text.kmea7.hcmcf1.mpkra1.curatelandscape {
    display: none;
}

.post.text.mpkra1.kmea7.hcmcf1 {
    display: none;
}
