body#hdiydraft{
  background: none; 
}

body#hdiydraft .post {
    height: 410px;
    overflow: scroll;
    width: 30%;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}


