h3.tag_title {
   display: none;
}


a.link {
   display: none;
}


ul.tags {
   display: none;
}


body#htkwo7 {
   background-color: azure;
}


article.posts {
   padding-bottom: 60px;
   display: block;
   float: none;
   margin: auto; 
   width: 50%
   text-align: center
   font-size: small;
}
