body#independentkitchens {
    background-color: black;
}

ul.tags {
    display: none;
}

.post.photo {
    width: 20%;
    height: 20%;
    float: left;
    display: inline-block;
    margin-bottom: -5px;
    margin-top: -5px;
}
a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}
.copy {
    opacity: 0.8;
}
.copy > p {
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: white;
