body#jmsch13 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}
body#jmsch13 ul.tags{
  display: none;
}
body#jmsch13 h3.tag_title {
    display: none;
}
body#jmsch13 a.link {
    display: none;
}

.posts{
width: 50%;    
}

.post.photo.voyage.jmsch13.postnow {
    margin: 20px;
}

.post.photo.voyage.certificate.jmsch13.postnow {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.photo.postnowthumbnail.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.text.drawinggameinstructions.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.post.photo.voyage.jmsch13.postnow {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.photo.voyagedraft.jmsch13.curatesharp {
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.post.text.postnow.voyageresearch.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.photo.postnow.voyageresearch.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.text.voyagedraft.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.photo.voyagedraft.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.text.font_family.times.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.post.text.dingbat.jmsch13 {
    margin-bottom: 40px;
}

.post.text.jmsch13.color_name.red.color {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.post.text.jmsch13.color_name.navy.color {
    margin-bottom: 40px;
    margin-top: 40px;
}

.post.photo.frontpage.jmsch13 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.post.photo.jmsch13 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.post.photoset.objectsubject.jmsch13 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.post.text.axis.jmsch13.text.assimilation.identity {
    margin-bottom: 40px;
    margin-top: 40px;
}

.post.text.axis.jmsch13.disruption.settlement.identity.text {
    margin-bottom: 40px;
    margin-top: 40px;
}
