
body#jmsch13 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}
body#jmsch13 ul.tags{
  display: none;
}
body#jmsch13 h3.tag_title {
    display: none;
}
body#jmsch13 a.link {
    display: none;
}

body#jmsch13 .container {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top: 20%;
    left: 20px;
    right: 20px;
}

body#jmsch13 article.posts {
    width: 100%;
    height: 100%;
    display: flex;
}
