body#jmsch13 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}
body#jmsch13 ul.tags{
  display: none;
}
body#jmsch13 h3.tag_title {
    display: none;
}
body#jmsch13 a.link {
    display: none;
}

.posts{
width: 50%;    
}

.post.photo.voyage.jmsch13.postnow {
    margin: 20px;
}

.post.photo.voyage.certificate.jmsch13.postnow {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.photo.postnowthumbnail.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post.text.drawinggameinstructions.jmsch13 {
    margin-top: 40px;
    margin-bottom: 40px;
}
