
/* this is the Posts Tagged "_____" thing at the top that's being hidden */
h3.tag_title {
    display: none;
}

/*this is the tags being hidden*/
.post ul.tags{
	display:none;
}

/*this is the permalink being hidden*/
a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}


/*this is the instructions for all the posts*/
body#kjwan2 .post {
  border:5px solid navy;
  padding:20px 30px 20px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 16px;
  line-height: 18px;
  background: white;
}

/* this is for the general text in the posts - but not the usernamessss */
.post.text p {
    color: navy;
}

article.posts {
    width: 70%;
    display: block;
    float: left;
    margin-left: 200px;
    background: aliceblue;
    color: navy;
}

img.set_photos {
    border:3px solid navy;
}

/* this is for the bold part of texts - for titles */
b {
    font-weight: bold;
    color: lightskyblue;
    line-height: 25px;
    padding: 10px;
    text-decoration: none;
    font-size: 24px
}

/* italics */
i {
    font-size: 30px;
    font-style: oblique;
    line-height: 33px;
    font-weight: bold;
    color: orange;
}
