/*Everything*/
.container {
    padding: 150px 0px 0px 200px;
}

/*Page title*/
.post.text.ldaud1.pagetitle {
    position: fixed;
    padding: 50px 0px 0px 50px;
    left: 0;
    top: 0;
    font-size: 3em;
    font-weight: bold;
}

/*Links*/
a {
    text-decoration: none;
    color: bisque;
}

/*Posts*/
.post {
    width: 40%;
    display: block;
    float: left;
}

/*Body text*/
.copy {
    line-height: 14pt;
    font-size: 10pt;
}

/*Hiding permalink*/
a.link {
    display: none;
}

/*Hiding tags*/
.tag_title {
    display: none;
}

/*Hiding tags*/
ul.tags {
    display: none;
}
