body#letsshare {
    background-color: grey;
    font-family:proxima nova;
    margin: auto 0;
}

body#letsshare h3.tag_title {
    text-align: center;
    margin: auto 0;
    display: none;
}

body#letsshare p {
    margin: auto 0;
    text-align: center;
    margin-left: 480px;
    font-family: proxima nova;
    font-size: 50px;
    padding-top: 30px;
}

