body#letsshare {
    background-color: white;
    font-family:proxima nova;
}

body#letsshare h3.tag_title {
    text-align: center;
    margin: auto 0;
    display: none;
}
a.link {
    display: none;
}

a {
    display: none;
}

p {
    margin: auto 0;
    text-align: center;
    margin-left: 450px;
    font-family: proxima nova;
    font-size: 50px;
    padding-top: 30px;
}
