body#letsshare {
    font-family:proxima nova;
    margin: auto 0;
}
body#letsshare ul.tags {
    display: none;
}

body#letsshare a.link {
    display: none;
}

body#letsshare article.posts {
    margin: auto 0;
}

body#letsshare h3.tag_title {
    display: none;
}

body#letsshare .photo {
    width: 33%;
    padding: 10px;
    display: block;
    height: 400px;
    float: left;
}

body#letsshare .post.text {
    width: 100%;
    text-align: center;
    font-size: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
    color: blue;
}
.post img{
    width:100%;
}

.post.rating3 p:before{
    content: '●●●';
    display: block;
}
