
body#lostresearch h3.tag_title {
display: none;
}

body#lostresearch ul.tags {
    display: none;
}

body#lostresearch .copy {
    display: none;
}

body#lostresearch a.link {
    display: none;
}

body#lostresearch .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#lostresearch .post:hover {
    z-index: 999;
}

body#lostresearch .post.moodboard {
    display: none;
  
    
}
body#lostresearch .post.concept {
    display: none;
  
    
}
body#lostresearch .post.definition {
    display: none;
  
    
}
    
    
    
    
    
body#lostresearch .post.lost1 {
    left: 954.962px;
    top: 30px;
    width: 170px;
}

body#lostresearch .post.lost2 {
    left: 550px;
    top: 960px;
}

body#lostresearch .post.lost3 {
    left: 1200px;
    top: 300px;
}

body#lostresearch .post.lost4 {
    left: 190.972px;
    top: 187.943px;
}

body#lostresearch .post.lost5 {
    left: 125.979px;
    top: 16.9718px;
    width: 180px;
}



body#lostresearch .post.lost6 {
    left: 1682.92px;
    top: 352.968px;
}

body#lostresearch .post.lost7 {
    top: 552.972px;
    left: 962.959px;
}

body#lostresearch .post.lost8 {
    top: 526.981px;
    left: 300.998px;
}

body#lostresearch .post.lost9 {
    top: 150px;
    left: 1265px;
}

body#lostresearch .post.lost10 {
    top: 261.979px;
    left: 1814.99px;
}

body#lostresearch .post.lost11 {
    top: 1236.92px;
    left: 620.886px;
}

body#lostresearch .post.lost12 {
    display: none;
    top: 1032.93px;
    left: 1503.93px;
    width: 180px;
}

body#lostresearch .post.lost13 {
    display: none;
    top: 815px;
    left: 493px;
    width: 500px;
}

body#lostresearch .post.lost14 {
    display: none;
    top:0px;
    left:0px;
    width: 180px;
    width: 500px;
}

body#lostresearch .post.lost15 {
    top: 652.959px;
    left: 1059.98px;
    width: 180px;
}

body#lostresearch .post.lost16 {
    top: 140px;
    left: 715px;
    width: 180px;
}

body#lostresearch .post.lost17 {
    top: 600.992px;
    left: 110px;
}

body#lostresearch .post.megaphone18 {
    top: 892.998px;
    left: 1401.98px;
}

body#lostresearch .post.megaphone19 {
    top: 30px;
    left: 1381px;
    width: 180px;
}

body#lostresearch .post.megaphone20 {
    top: 895.97px;
    left: 1847.98px;
    width: 180px;
}

body#lostresearch .post.megaphone21 {
    top:269.972px;
    left: 19.9887px;
}

body#lostresearch .post.megaphone22 {
    top: 762px;
    left: 15px;
}

body#lostresearch .post.megaphone23 {
    top: 1200px;
    left: 0px;
}

body#lostresearch .post.megaphone24 {
    top: 970px;
    left: 200px;
    width: 180px;
}

body#lostresearch .post.megaphone25 {
    top: 276.969px;
    left: 1378.95px;
}

body#lostresearch .post.megaphone26 {
    top: 493.985px;
    left: 1263.97px;
}


body#lostresearch .post.megaphone27 {
    top: 146.964px;
    left: 1479.93px;
}

body#lostresearch .post.megaphone28 {
    top: 690.961px;
    left: 217.999px;
}

body#lostresearch .post.megaphone29 {
    top: 1216.93px;
    left: 827.972px;
}

body#lostresearch .post.megaphone30 {
    top: 504.956px;
    left: 600.971px;
}

body#lostresearch .post.megaphone31 {
    top: 265px;
    left: 1600px;
    width: 180px;
}

body#lostresearch .post.megaphone32 {
    top: 100px;
    left: 1000px;
    width: 180px;
}

body#lostresearch .post.megaphone33 {
    top: 224.991px;
    left: 863.962px;
}

body#lostresearch .post.megaphone34 {
    top: 255.935px;
    left: 307.961px;
}

body#lostresearch .post.megaphone35 {
    top: 320.955px;
    left: 955px;
}

body#lostresearch .post.megaphone36 {
    top: 0px;
    left: 1200px;
}

body#lostresearch .post.megaphone37 {
    top: 599.994px;
    left: 1436.97px;
}

body#lostresearch .post.megaphone38 {
    top: 825px;
    left: 270px;
    width: 180px;
}

body#lostresearch .post.megaphone39 {
    top: 900px;
    left: 36px;
}

body#lostresearch .post.megaphone40 {
    top: 17px;
    left: 548px;
}

body#lostresearch .post.megaphone41 {
    top: 969px;
    left: 766px;
    width: 180px;
}

body#lostresearch .post.megaphone42 {
    top: 800px;
    left: 760px;
    width: 180px;
}

body#lostresearch .post.megaphone43 {
    top: 193.981px;
    left: 623.957px;
}

body#megaphone .post.megaphone44 {
    top: 680.987px;
    left: 1151.98px;
}

body#lostresearch .post.megaphone45 {
    top: 500px;
    left: 830px;
    width: 180px;
}

body#lostresearch .post.megaphone46 {
    top: 1000px;
    left: 300px;
}

body#lostresearch .post.megaphone47 {
    top: 1102.99px;
    left: 379.974px;
}

body#lostresearch .post.megaphone48 {
    top: 1000px;
    left: 1200px;
}

body#lostresearch .post.megaphone49 {
    top: 800px;
    left: 980px;
}

body#lostresearch .post.megaphone50 {
    top: 322.967px;
    left: 521.946px;
}

body#lostresearch .post.megaphone51 {
    top: 141.996px;
    left: 411.996px;
    width: 180px;
}

body#lostresearch .post.megaphone52 {
    top: 650px;
    left: 650px;
}

body#lostresearch .post.megaphone53 {
    top: 420px;
    left: 420px;
}

body#lostresearch .post.megaphone54 {
    top: 0px;
    left: 357.962px;
}

body#lostresearch .post.megaphone55 {
    top: 1118.93px;
    left: 1031.9px;
}

body#lostresearch .post.megaphone56 {
    top: 753.983px;
    left: 1503.98px;
}

body#lostresearch .post.megaphone57 {
    top: 83.9962px;
    left: 74.9962px;
}

body#lostresearch .post.megaphone58 {
    top: 1138.99px;
    left: 206.972px;
}

body#lostresearch .post.megaphone59 {
    top: 800px;
    left: 1200px;
}

body#lostresearch .post.megaphone60 {
    top: 580.996px;
    left: 470.961px;
}

body#megaphone .post.megaphone61 {
    top: 54.9658px;
    left: 1686.96px;
}

body#lostresearch .post.megaphone62 {
    top: 496.95px;
    left: 1725.95px;
}

body#lostresearch .post.megaphone63 {
    top: 1255.98px;
    left: 101.99px;
}





    
    
    
    

