body#lostresearch h3.tag_title {
display: none;
}

body#lostresearch ul.tags {
    display: none;
}

body#lostresearch .copy {
    display: none;
}

body#lostresearch a.link {
    display: none;
}

body#lostresearch .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#lostresearch .post:hover {
    z-index: 999;
    
}

body#lostresearch .post.moodboard {
    display: none;
  
    
}
body#lostresearch .post.concept {
    display: none;
  
    
}
body#lostresearch .post.definition {
    display: none;
  
    
}
    
body#lostresearch .post.lost1 {
    left: 954.962px;
    top: 30px;
    width: 170px;
}

body#lostresearch .post.lost2 {
    left: 550px;
    top: 960px;
}

body#lostresearch .post.lost3 {
    left: 1200px;
    top: 300px;
}

body#lostresearch .post.lost4 {
    left: 190.972px;
    top: 187.943px;
}

body#lostresearch .post.lost5 {
    left: 125.979px;
    top: 16.9718px;
    width: 180px;
}



body#lostresearch .post.lost6 {
    left: 1682.92px;
    top: 352.968px;
}

body#lostresearch .post.lost7 {
    top: 552.972px;
    left: 962.959px;
}

body#lostresearch .post.lost8 {
    top: 526.981px;
    left: 300.998px;
}

body#lostresearch .post.lost9 {
    top: 150px;
    left: 1265px;
}

body#lostresearch .post.lost10 {
    top: 261.979px;
    left: 1814.99px;
}

body#lostresearch .post.lost11 {
    top: 1236.92px;
    left: 620.886px;
}

body#lostresearch .post.lost12 {
    display: none;
    top: 1032.93px;
    left: 1503.93px;
    width: 180px;
}

body#lostresearch .post.lost13 {
    display: none;
    top: 815px;
    left: 493px;
    width: 500px;
}

body#lostresearch .post.lost14 {
    display: none;
    top:0px;
    left:0px;
    width: 180px;
    width: 500px;
}

body#lostresearch .post.lost15 {
    top: 652.959px;
    left: 1059.98px;
    width: 180px;
}

body#lostresearch .post.lost16 {
    top: 140px;
    left: 715px;
    width: 180px;
}

body#lostresearch .post.lost17 {
    top: 600.992px;
    left: 110px;
}

body#lostresearch .post.lostinspace {
    top: 892.998px;
    left: 1401.98px;
}

body#lostresearch .post.lives {
    top: 30px;
    left: 1381px;
    width: 180px;
}

body#lostresearch .post.hairtie3 {
    top: 895.97px;
    left: 1847.98px;
    width: 180px;
}

body#lostresearch .post.hairtie2 {
    top:269.972px;
    left: 19.9887px;
}

body#lostresearch .post.hairtie1 {
    top: 762px;
    left: 15px;
}

body#lostresearch .post.glove6 {
    top: 1200px;
    left: 0px;
}

body#lostresearch .post.glove5 {
    top: 970px;
    left: 200px;
    width: 180px;
}

body#lostresearch .post.glove4 {
    top: 276.969px;
    left: 1378.95px;
}

body#lostresearch .post.glove3 {
    top: 493.985px;
    left: 1263.97px;
}


body#lostresearch .post.glove2 {
    top: 146.964px;
    left: 1479.93px;
}

body#lostresearch .post.glove1 {
    top: 690.961px;
    left: 217.999px;
}
.chocolat-content{
    
    display: none;
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
    text-align: left;
}

.chocolat-wrapper .chocolat-top{
    display: none;
    position:absolute;
    top:0px;
    right: 0;
    left: 0;
    line-height:50px;
    height:50px;
    overflow: hidden;
    z-index: 17;
    margin-bottom: 10px;
}

.chocolat-wrapper .chocolat-bottom{
    display: none;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:40px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.chocolat-overlay{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color: transparent;
    display:none;
    opacity: 1;
}

.chocolat-content{
    display: none;
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
    text-align: left;
}



