
body#lostresearch h3.tag_title {
display: none;
}

body#lostresearch ul.tags {
    display: none;
}

body#lostresearch .copy {
    display: none;
}

body#lostresearch a.link {
    display: none;
}

body#lostresearch .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#lostresearch .post:hover {
    z-index: 999;
}

body#lostresearch .post {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0px;
    left:0px;
    
}

body#lostresearch .post.moodboard {
        display: none;
}

body#lostresearch .post.concept {
        display: none;
}

body#lostresearch .post.mockup {
        display: none;
}
body#lostresearch .post.lost10 {
    top: 200px;
    left: 100px;
}

body#lostresearch .post.lost2 {
    top: 100px;
    right: 0px;
}
body#lostresearch .post.lost6 {
    top: 0px;
    right: 0px;
}




