h3.tag_title {
display: none;
}

 ul.tags {
    display: none;
}

i {
    font-style: italic;
}

b {
    text-decoration: underline;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}

a {
    text-decoration:underline;
    color: blue;
}


 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    display: block;
    float: left;
    width: 500px;
    margin: 40px;
    padding: 20px;
    background: white;
}

.post:nth-child(odd) {
    float: right;
    width: 400px;
    margin: 30px;
    
    } 
    
    body#lostresearch .post.lostmoodboard {
        top: 20px;
        left: 400px;
}

body#lostresearch .post.lostmockup {
          top: 40px;
        left: 500px;
}
    
