
	}

body#lovedraft {
	
    font-family: Proxima Nova;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
         background-color:cyan;
}



.post {
	background-color:blue;
}



.post.red {
	background-color:red;
}




.post img{
	border:1px solid blue;
}



.post ul.tags{
	display:none;
}



.post.red a {
	color:red;
}
