body {
    font-family: Proxima Nova;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
	background: aquamarine;

	}

iframe {
    display: none;
}

.nav {
    font-family: proxima nova;
    position: absolute;
    font-size: 12px;
    margin: 120px;
    text-decoration: overline;
