
h3.tag_title {
display: none;
}

 ul.tags {
    display: none;
}

i {
    font-style: italic;
}

b {
    text-decoration: underline;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}

a {
    text-decoration:underline;
    color: LightSlateGray;
}





 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    width: 450px;
    display: block;
    margin: auto;
    padding: 20px;
}




span.time {
    display: none;
}








.textheading {
display:none;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 3.5em;
    line-height: 1em;
    text-decoration: none;
 position:fixed;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index:9999999999;
   
}


.container {
    padding-top: 400px;
}
