body#megaphonetext h3.tag_title {
display: none;
}

body#megaphonetext ul.tags {
    display: none;
}


body#megaphonetext a.link {
    display: none;
}

body#megaphonetext .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
  display:none;
}


.text{
    position:fixed;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 70px;
}

