body#megaphonetext h3.tag_title {
display: none;
}

body#megaphonetext ul.tags {
    display: none;
}


body#megaphonetext a.link {
    display: none;
}

body#megaphonetext .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
  display:none;
}





.text {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 3.2em;
    line-height: 1.07em;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}


.append {
    background: lemonchiffon;
}

.container {
    padding: 0px;
}
