body#megaphone h3.tag_title {
display: none;
}

body#megaphone ul.tags {
    display: none;
}

body#megaphone .copy {
    display: none;
}

body#megaphone a.link {
    display: none;
}

body#megaphone .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#megaphone .post:hover {
    z-index: 999;
}

body#megaphone .post {
    width: 150px;
    height: 150px;
    position: absolute;
    top:0px;
    left:0px;
    
}







body#megaphone .post.megaphone1 {
    left: 954.962px;
    top: 30px;
    width: 170px;
}

body#megaphone .post.megaphone2 {
    left: 550px;
    top: 960px;
}

body#megaphone .post.megaphone3 {
    left: 1200px;
    top: 300px;
}

body#megaphone .post.megaphone4 {
    left: 190.972px;
    top: 187.943px;
}

body#megaphone .post.megaphone5 {
    left: 125.979px;
    top: 16.9718px;
    width: 180px;
}



body#megaphone .post.megaphone6 {
    left: 1682.92px;
    top: 352.968px;
}

body#megaphone .post.megaphone7 {
    top: 552.972px;
    left: 962.959px;
}

body#megaphone .post.megaphone8 {
    top: 526.981px;
    left: 300.998px;
}

body#megaphone .post.megaphone9 {
    top: 150px;
    left: 1265px;
}

body#megaphone .post.megaphone10 {
    top: 261.979px;
    left: 1814.99px;
}

body#megaphone .post.megaphone11 {
    top: 1236.92px;
    left: 620.886px;
}

body#megaphone .post.megaphone12 {
    top: 1032.93px;
    left: 1503.93px;
    width: 180px;
}

body#megaphone .post.megaphone13 {
    top: 815px;
    left: 493px;
}

body#megaphone .post.megaphone14 {
    top: 1139px;
    left: 741px;
    width: 180px;
}

body#megaphone .post.megaphone15 {
    top: 652.959px;
    left: 1059.98px;
    width: 180px;
}

body#megaphone .post.megaphone16 {
    top: 140px;
    left: 715px;
    width: 180px;
}

body#megaphone .post.megaphone17 {
    top: 600.992px;
    left: 110px;
}

body#megaphone .post.megaphone18 {
    top: 892.998px;
    left: 1401.98px;
}

body#megaphone .post.megaphone19 {
    top: 30px;
    left: 1381px;
    width: 180px;
}

body#megaphone .post.megaphone20 {
    top: 895.97px;
    left: 1847.98px;
    width: 180px;
}

body#megaphone .post.megaphone21 {
    top:269.972px;
    left: 19.9887px;
}

body#megaphone .post.megaphone22 {
    top: 762px;
    left: 15px;
}

body#megaphone .post.megaphone23 {
    top: 1200px;
    left: 0px;
}

body#megaphone .post.megaphone24 {
    top: 970px;
    left: 200px;
    width: 180px;
}

body#megaphone .post.megaphone25 {
    top: 276.969px;
    left: 1378.95px;
}

body#megaphone .post.megaphone26 {
    top: 493.985px;
    left: 1263.97px;
}


body#megaphone .post.megaphone27 {
    top: 146.964px;
    left: 1479.93px;
}

body#megaphone .post.megaphone28 {
    top: 690.961px;
    left: 217.999px;
}

body#megaphone .post.megaphone29 {
    top: 1216.93px;
    left: 827.972px;
}

body#megaphone .post.megaphone30 {
    top: 504.956px;
    left: 600.971px;
}

body#megaphone .post.megaphone31 {
    top: 265px;
    left: 1600px;
    width: 180px;
}

body#megaphone .post.megaphone32 {
    top: 100px;
    left: 1000px;
    width: 180px;
}

body#megaphone .post.megaphone33 {
    top: 224.991px;
    left: 863.962px;
}

body#megaphone .post.megaphone34 {
    top: 255.935px;
    left: 307.961px;
}

body#megaphone .post.megaphone35 {
    top: 320.955px;
    left: 955px;
}

body#megaphone .post.megaphone36 {
    top: 0px;
    left: 1200px;
}

body#megaphone .post.megaphone37 {
    top: 599.994px;
    left: 1436.97px;
}

body#megaphone .post.megaphone38 {
    top: 825px;
    left: 270px;
    width: 180px;
}

body#megaphone .post.megaphone39 {
    top: 900px;
    left: 36px;
}

body#megaphone .post.megaphone40 {
    top: 17px;
    left: 548px;
}

body#megaphone .post.megaphone41 {
    top: 969px;
    left: 766px;
    width: 180px;
}

body#megaphone .post.megaphone42 {
    top: 800px;
    left: 760px;
    width: 180px;
}

body#megaphone .post.megaphone43 {
    top: 193.981px;
    left: 623.957px;
}

body#megaphone .post.megaphone44 {
    top: 680.987px;
    left: 1151.98px;
}

body#megaphone .post.megaphone45 {
    top: 500px;
    left: 830px;
    width: 180px;
}

body#megaphone .post.megaphone46 {
    top: 1000px;
    left: 300px;
}

body#megaphone .post.megaphone47 {
    top: 1102.99px;
    left: 379.974px;
}

body#megaphone .post.megaphone48 {
    top: 1000px;
    left: 1200px;
}

body#megaphone .post.megaphone49 {
    top: 800px;
    left: 980px;
}

body#megaphone .post.megaphone50 {
    top: 322.967px;
    left: 521.946px;
}

body#megaphone .post.megaphone51 {
    top: 141.996px;
    left: 411.996px;
    width: 180px;
}

body#megaphone .post.megaphone52 {
    top: 650px;
    left: 650px;
}

body#megaphone .post.megaphone53 {
    top: 420px;
    left: 420px;
}

body#megaphone .post.megaphone54 {
    top: 0px;
    left: 357.962px;
}

body#megaphone .post.megaphone55 {
    top: 1118.93px;
    left: 1031.9px;
}

body#megaphone .post.megaphone56 {
    top: 753.983px;
    left: 1503.98px;
}

body#megaphone .post.megaphone57 {
    top: 83.9962px;
    left: 74.9962px;
}

body#megaphone .post.megaphone58 {
    top: 1138.99px;
    left: 206.972px;
}

body#megaphone .post.megaphone59 {
    top: 800px;
    left: 1200px;
}

body#megaphone .post.megaphone60 {
    top: 580.996px;
    left: 470.961px;
}

body#megaphone .post.megaphone61 {
    top: 54.9658px;
    left: 1686.96px;
}

body#megaphone .post.megaphone62 {
    top: 496.95px;
    left: 1725.95px;
}

body#megaphone .post.megaphone63 {
    top: 1255.98px;
    left: 101.99px;
}

body#megaphone .post.megaphone64 {
    top: 0px;
    left: 1818.97px;
}

body#megaphone .post.megaphone65 {
    top: 1229.97px;
    left: 1190.97px;
}

body#megaphone .post.megaphone66 {
    top: 718.968px;
    left: 1905.98px;
}

body#megaphone .post.megaphone67 {
    top: 1261.9px;
    left: 957.94px;
    width: 180px;
}

body#megaphone .post.megaphone68 {
    top: 1257.99px;
    left: 405.958px;
    width: 180px;
}

body#megaphone .post.megaphone69 {
    top: 247.973px;
    left: 1063.95px;
    width: 180px;
}

body#megaphone .post.megaphone70 {
    top: 506.974px;
    left: 0px;
}

body#megaphone .post.megaphone71 {
    top: 651.959px;
    left: 1372.94px;
}

body#megaphone .post.megaphone72 {
    top: 409.998px;
    left: 1070.99px;
}

body#megaphone .post.megaphone73 {
    top: 600.862px;
    left: 1609.96px;
}

body#megaphone .post.megaphone74 {
    top: 751.933px;
    left: 1723.93px;
}

body#megaphone .post.megaphone75 {
    top: 442.928px;
    left: 57.9486px;
    width:180px;
    
}

body#megaphone .post.megaphone76 {
    top: 150.965px;
    left: 1876.93px;
}

body#megaphone .post.megaphone77 {
    top: 976px;
    left: 640px;
    width:180px;
}

body#megaphone .post.megaphone78 {
    top: 1024.97px;
    left: 1647.99px;
}

body#megaphone .post.megaphone79 {
    top: 1160.94px;
    left: 1387.97px;
}

body#megaphone .post.megaphone80 {
    top: 1205.97px;
    left: 1884.97px;
}

body#megaphone .post.megaphone81 {
    top: 1144px;
    left: 1588px;
}

body#megaphone .post.megaphone82 {
    top: 1086.95px;
    left: 1834.87px;
}

body#megaphone .post.megaphone83 {
    top: 0px;
    left: 0px;
    width: 180px;
}

body#megaphone .post.megaphone84 {
    top: 418.969px;
    left: 1896.99px;
}

body#megaphone .post.megaphone85 {
    top: 1051px;
    left: 855.956px;
}

body#megaphone .post.megaphone86 {
    position: relative;
    top: -668px;
    left: 390px;
}

body#megaphone .post.megaphone87 {
   top: 0px;
    left: 1582.98px;
    width: 190px;
}

body#megaphone .post.megaphone88 {
 position: relative;
    top: -535px;
    left: 837px;
}

body#megaphone .post.megaphone89 {
   position: relative;
    top: -1075px;
    left: 741px;
}


body#megaphone .post.megaphone90 {
    position: relative;
    top: 81px;
    left: 1744px;
}

body#megaphone .post.megaphone91 {
    position: relative;
    top:-213px;
    left: 1801px;
}

body#megaphone .post.megaphone92 {
    position: relative;
    left: 1072px;
    top: 327px;
}

body#megaphone .post.megaphone93 {
   position: relative;
    top: 120px;
    left: 750px;
    width: 180px;
}
body#megaphone .post.megaphone94 {
    top: 724px;
    left: 1294px;
}

body#megaphone .post.megaphone95 {
   position:relative;
    top: 165px;
    left: 720px;
    width: 180px;
}

body#megaphone .post.megaphone96 {
   top: 414px;
    left: 1471px;
}






.chocolat-content{
    
    display: none;
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
    text-align: left;
}

.chocolat-wrapper .chocolat-top{
    display: none;
    position:absolute;
    top:0px;
    right: 0;
    left: 0;
    line-height:50px;
    height:50px;
    overflow: hidden;
    z-index: 17;
    margin-bottom: 10px;
}

.chocolat-wrapper .chocolat-bottom{
    display: none;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:40px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.chocolat-overlay{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color: transparent;
    display:none;
    opacity: 1;
}

.chocolat-content{
    display: none;
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
    text-align: left;
}


