body#megaphone h3.tag_title {
display: none;
}

body#megaphone ul.tags {
    display: none;
}

body#megaphone .copy {
    display: none;
}

body#megaphone a.link {
    display: none;
}

body#megaphone .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#megaphone .post:hover {
    z-index: 999;
}

body#megaphone .post {
    width: 150px;
    height: 150px;
    position: absolute;
    top:0px;
    left:0px;
    
}






body#megaphone .post.megaphone1 {
    left: 900px;
    top: 30px;
}

body#megaphone .post.megaphone2 {
    left: 550px;
    top: 960px;
}

body#megaphone .post.megaphone3 {
    left: 1200px;
    top: 300px;
}

body#megaphone .post.megaphone4 {
    left: 200px;
    top: 230px;
}

body#megaphone .post.megaphone5 {
    left: 120px;
    top: 50px;
    width: 180px;
}



body#megaphone .post.megaphone6 {
    left: 80px;
    top: 500px;
}

body#megaphone .post.megaphone7 {
    top: 550px;
    left: 990px;
}

body#megaphone .post.megaphone8 {
    top: 1200px;
    left: 670px;
}

body#megaphone .post.megaphone9 {
    top: 150px;
    left: 1265px;
}

body#megaphone .post.megaphone10 {
    top: 418px;
    left: 215px;
}

body#megaphone .post.megaphone11 {
    top: 180px;
    left: 432px;
}

body#megaphone .post.megaphone12 {
    top: 1300px;
    left: 970px;
}

body#megaphone .post.megaphone13 {
    top: 815px;
    left: 493px;
}

body#megaphone .post.megaphone14 {
    top: 1139px;
    left: 741px;
}

body#megaphone .post.megaphone15 {
    top: 647px;
    left: 1120px;
}

body#megaphone .post.megaphone16 {
    top: 140px;
    left: 715px;
}

body#megaphone .post.megaphone17 {
    top: 430px;
    left: 1500px;
}

body#megaphone .post.megaphone18 {
    top: 920px;
    left: 1450px;
}

body#megaphone .post.megaphone19 {
    top: 87px;
    left: 1380px;
}

body#megaphone .post.megaphone20 {
    top: 1260px;
    left: 110px;
}

body#megaphone .post.megaphone21 {
    top:300px;
    left: 20px;
}

body#megaphone .post.megaphone22 {
    top: 762px;
    left: 15px;
}

body#megaphone .post.megaphone23 {
    top: 1200px;
    left: 0px;
}

body#megaphone .post.megaphone24 {
    top: 970px;
    left: 200px;
}

body#megaphone .post.megaphone25 {
    top: 300px;
    left:1400px;
}

body#megaphone .post.megaphone26 {
    top: 485px;
    left: 1300px;
}

body#megaphone .post.megaphone26 {
    top: 400px;
    left: 1285px;
}

body#megaphone .post.megaphone26 {
    top: 400px;
    left: 1280px;
}

body#megaphone .post.megaphone27 {
    top: 0px;
    left: 1480px;
}

body#megaphone .post.megaphone28 {
    top: 727px;
    left: 218px;
}

body#megaphone .post.megaphone29 {
    top: 1115px;
    left: 1000px;
}

body#megaphone .post.megaphone30 {
    top: 19px;
    left: 34px;
}

body#megaphone .post.megaphone31 {
    top: 265px;
    left: 1600px;
}

body#megaphone .post.megaphone32 {
    top: 100px;
    left: 1000px;
}

body#megaphone .post.megaphone33 {
    top: 225px;
    left: 900px;
}

body#megaphone .post.megaphone34 {
    top: 520px;
    left: 290px;
}

body#megaphone .post.megaphone35 {
    top: 330px;
    left: 1000px;
}

body#megaphone .post.megaphone36 {
    top: 0px;
    left: 1200px;
}

body#megaphone .post.megaphone37 {
    top: 603px;
    left: 1467px;
}

body#megaphone .post.megaphone38 {
    top: 825px;
    left: 270px;
    width: 180px;
}

body#megaphone .post.megaphone39 {
    top: 900px;
    left: 36px;
}

body#megaphone .post.megaphone40 {
    top: 42px;
    left: 532px;
}

body#megaphone .post.megaphone41 {
    top: 969px;
    left: 766px;
    width: 180px;
}

body#megaphone .post.megaphone42 {
    top: 800px;
    left: 760px;
}

body#megaphone .post.megaphone43 {
    top: 200px;
    left: 660px;
}

body#megaphone .post.megaphone44 {
    top: 690px;
    left: 1110px;
}

body#megaphone .post.megaphone45 {
    top: 500px;
    left: 830px;
}

body#megaphone .post.megaphone46 {
    top: 1000px;
    left: 300px;
}

body#megaphone .post.megaphone47 {
    top: 1100px;
    left: 380px;
}

body#megaphone .post.megaphone48 {
    top: 1000px;
    left: 1200px;
}

body#megaphone .post.megaphone49 {
    top: 800px;
    left: 980px;
}

body#megaphone .post.megaphone50 {
    top: 500px;
    left: 600px;
}

body#megaphone .post.megaphone51 {
    top: 340px;
    left: 340px;
}

body#megaphone .post.megaphone52 {
    top: 650px;
    left: 650px;
}

body#megaphone .post.megaphone53 {
    top: 420px;
    left: 420px;
}

body#megaphone .post.megaphone54 {
    top: 0px;
    left: 400px;
}

body#megaphone .post.megaphone55 {
    top: 890px;
    left: 890px;
}

body#megaphone .post.megaphone56 {
    top: 760px;
    left: 1000px;
}

body#megaphone .post.megaphone57 {
    top: 90px;
    left: 90px;
}

body#megaphone .post.megaphone58 {
    top: 1100px;
    left: 300px;
}

body#megaphone .post.megaphone59 {
    top: 800px;
    left: 1200px;
}

body#megaphone .post.megaphone60 {
    top: 590px;
    left: 570px;
}






}
.chocolat-content{
    display: none;
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
    text-align: left;
}

.chocolat-wrapper .chocolat-top{
    display: none;
    position:absolute;
    top:0px;
    right: 0;
    left: 0;
    line-height:50px;
    height:50px;
    overflow: hidden;
    z-index: 17;
    margin-bottom: 10px;
}

.chocolat-wrapper .chocolat-bottom{
    display: none;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:40px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.chocolat-overlay{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color: transparent;
    display:none;
    opacity: 1;
}
