body#megaphone h3.tag_title {
display: none;
}

body#megaphone ul.tags {
    display: none;
}

body#megaphone .copy {
    display: none;
}

body#megaphone a.link {
    display: none;
}

body#megaphone .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#megaphone .post:hover {
    z-index: 999;
}

body#megaphone .post {
    width: 150px;
    height: 150px;
    position: absolute;
   
}






body#megaphone .post.megaphone1 {
    left: 0px;
    top: 0px;
}

body#megaphone .post.megaphone2 {
    left: 500px;
    top: 0px;
}

body#megaphone .post.megaphone3 {
    left: 120px;
    top: 300px;
}

body#megaphone .post.megaphone4 {
    left: 230px;
    top: 230px;
}

body#megaphone .post.megaphone5 {
    left: 80px;
    top: 70px;
    width: 180px;
}



body#megaphone .post.megaphone6 {
    left: 200px;
    top: 600px;
}

body#megaphone .post.megaphone7 {
    top: 500px;
    left: 500px;
}

body#megaphone .post.megaphone8 {
    top: 1200px;
    left: 670px;
}

body#megaphone .post.megaphone9 {
    top: 340px;
    left: 320px;
}

body#megaphone .post.megaphone10 {
    top: 340px;
    left: 320px;
}

body#megaphone .post.megaphone11 {
    top: 200px;
    left: 380px;
}

body#megaphone .post.megaphone12 {
    top: 2000px;
    left: 2000px;
}

body#megaphone .post.megaphone13 {
    top: 700px;
    left: 560px;
}

body#megaphone .post.megaphone14 {
    top: 3000px;
    left: 3000px;
}

body#megaphone .post.megaphone15 {
    top: 600px;
    left: 600px;
}

body#megaphone .post.megaphone16 {
    top: 120px;
    left: 640px;
}

body#megaphone .post.megaphone17 {
    top: 420px;
    left: 400px;
}

body#megaphone .post.megaphone18 {
    top: 900px;
    left: 800px;
}

body#megaphone .post.megaphone19 {
    top: 0px;
    right: 0px;
}

body#megaphone .post.megaphone20 {
    top: 100px;
    right: 100px;
}

body#megaphone .post.megaphone21 {
    top:300px;
    right: 300px;
}

body#megaphone .post.megaphone22 {
    top: 800px;
    right: 800px;
}
