
h3.tag_title {
display: none;
}

 ul.tags {
    display: none;
}

i {
    font-style: italic;
}

b {
    text-decoration: underline;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}

a {
    text-decoration:underline;
    color: LightSlateGray;
}





 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    display: block;
    float: left;
    width: 400px;
    margin: 40px;
}

.post:nth-child(odd) {
    float: right;
    width: 500px;
    margin: 30px;
}

span.time {
    display: none;
}






.append {
    position: fixed;
    z-index: -4;
    background: white;
    border-style: solid;
    border-width: 1pt;
    padding: 10px;
    z-index: 9999;
}

a.link {
 display:none;
}



.post {
    border-style: solid;
    border-width: 1pt;
    padding: 20px;
}


html {
    margin: 30px;
}


img.set_photos {
    max-height: 350px;
}
