body#megaphonedraft {
background-color:red;
}

body#megaphonedraft .post {
background-color: blue;
}

body#megaphonedraft h3.tag_title {
display:none;
}


body#megaphonedraft ul.tags {
    display: none;
}
