body#megaphonetext h3.tag_title {
display: none;
}

body#megaphonetext ul.tags {
    display: none;
}


body#megaphonetext a.link {
    display: none;
}

body#megaphonetext .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
  display:none;
}





.text {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 2.70em;
    line-height: 1.04em;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}


.container {
    padding: 0px;
}



a {
    text-decoration: none;
    color: black;
    font-style: italic;
}


i {
    font-style: italic;
}


bold {
    font-family: serif;
}
