
h3.tag_title {
display: none;
}

 ul.tags {
    display: none;
}

i {
    font-style: italic;
}

b {
    text-decoration: underline;
}

.copy{
    font-size:14px;
    line-height:14.5pt;
}

.caption{
    font-size:14px;
    line-height:14.5pt;
}

a {
    text-decoration:underline;
    color: LightSlateGray;
}





 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
    width: 450px;
    display: block;
    margin: auto;
    padding: 20px;
}
