body#megaphonetext h3.tag_title {
display: none;
}

body#megaphonetext ul.tags {
    display: none;
}


body#megaphonetext a.link {
    display: none;
}

body#megaphonetext .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


.post {
  display:none;
}





.text {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 4em;
    line-height: 1em;
    text-decoration: none;
}
