body#minimalresearch {
background-color:#f5f4f4;
    font-size:16px;
}

body#minimalresearch .post {
background-color:#f5f4f4;
align-content: center

}
body#minimalresearch .post.text {
    background-color: #d4d3d3;
    left: 810px;
    right: 810px;
    width: 500px;
    width: 900px;
    overflow-y: scroll;
    margin-top: 150px;
    margin-left: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

h3.tag_title {

 padding-bottom: 90px;
    position: fixed;
    margin-left: 400px;
    margin-top: 270px;
}
.post {
    margin-bottom: 80px;
width: 40%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.container {
    padding: 20px;
   margin-left: 100px;
}
.post.photo {
border: 8px solid;
    border-color: white;
width: 300px;
}	


