body#minimalresearch {
background-color:#b9b6b8;
    font-size:16px;
}

body#minimalresearch .post {
background-color:#f5f4f4;
align-content: center

}
.post.yzha582.text {
    background-color: rgba(250, 250, 250, 0);
}

h3.tag_title {

 padding-bottom: 90px;
    position: fixed;
    margin-left: 400px;
    margin-top: 270px;
}
.post {
    margin-bottom: 80px;
width: 40%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

