body#minimalresearch {
background-color:#f5f4f4;
    font-size:16px;
}

body#minimalresearch .post {
background-color:#f5f4f4;
align-content: center

}
body#minimalresearch .post.text {
    background-color: #d4d3d3;
    left: 810px;
    right: 810px;
    width: 500px;
    width: 900px;
    overflow-y: scroll;
    margin-top: 150px;
    margin-left: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    height:200px
}

h3.tag_title {

 padding-bottom: 90px;
    position: fixed;
    margin-left: 400px;
    margin-top: 270px;
}
.post {
    margin-bottom: 80px;
width: 40%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.container {
    padding: 20px;
   margin-left: 100px;
}
.post.photo {
border: 8px solid;
    border-color: white;
width: 300px;
    float:left;
}	
.post.video.minimalresearch {
    margin-bottom: 10px;
    margin-left: 260px;
}
.post.photo.minimaltitle.minimalresearch {
    border: 0px;
    width: 1100px;
}
.post.photo.minimaltitle.minimalresearch {
    border: 0px;
    width: 1100px;
    position: fixed;
    height: 140px;
    margin-top: -20px;
    margin-left: -730px;
}
a.link {
    display: block;
    font-size: 0px;
    font-family: courier;
    text-transform: uppercase;
}
.post.video.minimalresearch {
    margin-bottom: 10px;
    margin-left: 260px;
    margin-top: 200px;
}
.post.photo.minimalresearch.minimalart {
    border: 8px solid;
    border-color: #d2d2d2;
    padding-bottom: 20px;
}
.post.photo.minimalresearch.minimal_interior {
    border: 8px solid;
    border-color: rgba(181, 215, 241, 0.8);
    padding-bottom: 20px;
}
.post.photo.minimalresearch.minimal_architecture {
    border: 8px solid;
    border-color: #fdd4f0;
    padding-bottom: 20px;
}
.post.photo.minimalfashion.minimalresearch {
    border: 8px solid;
    border-color: #cad6c3;
    padding-bottom: 20px;
}
