body#minimalresearch {
background-color:#b9b6b8;
    font-size:16px;


}

body#minimalresearch .post {
background-color:#f5f4f4;
align-content: center

}

h3.tag_title {

position: fixed;
z-index: 100;
}
.post {
    margin-bottom: 80px;
width: 40%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
