.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
display: none;
}

body {
    background-color: #b5e1e0;
    text-align: left;
}

h3.tag_title {
    display: none;
}

ul {
    display: none;
}

.post {
    display: block;
    float: left;
    width: 400px;
    margin: 40px;
}


a {
    text-decoration: underline;
}


.text{
    font-family:monospace;
    font-size:14px;
    line-height:14.5pt;
}

p {
    font-family: monospace;
    font-size: 14pt;
    line-height: 17pt;
}

a {
    text-decoration: underline;
    color: navy;
}


img.set_photos {
    max-height: 350px;
}
