h3.tag_title {
    display: none;
}

p {
    font-family: Arial;
    font-size: 10pt;
    line-height: 16.5pt;
}

.postcontainer {
    max-width: 600px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

a.link {
    display: block;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
    color: silver;
    padding-top: 45px;
}

ul.tags {
    display: none;
}

twitterwidget {
    margin-left: 150px;
    margin-right: 150px;
}

a {
    color: navy;
}
