body#musings {
    background: red;   
}

body#musings .post {
    padding: 0;
}

body#musings .text {
    position: absolute;
    font-size: 30pt;
    line-height: 34pt;
    z-index: 10;
    text-align: left;
    margin-left: 10%;
}

/* body#musings .pagetitle {
    position: fixed;
    font-size: 30pt;
    text-decoration: none;
    z-index: 10;
    text-align: left;   
} */

body#musings h3 {
    text-transform: lowercase;
    text-decoration: none;
}

body#musings ul.tags {
    display: none;
}

body#musings a.link {
    display: none;
}

h3.tag_title {
    display: none;
}

body#musings .post.video.postnow.musings.sehan4.video.water.blue {
    margin-left: 15%;
    margin-top: 0px
}
