body#musingsresearch {
    background-color: blue;   
}

body#musingsresearch .post {
    background-color: white;
}

body#musingsresearch ul.tags {
    display: none;
}

body#musingsresearch ul.tags {
    display: none;
}

h3.tag_title {
    font-size: 24px;
    font-family: helvetica;
}









