body#musings {
    margin: 0;   
}

body#musings .post {
    padding: 0;
}

body#musings .post.text {
    position: absolute;
    font-size: 30pt;
    line-height: 34pt;
    z-index: 10;
    text-align: left;
    margin-left: 10%;
}


body#musings a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

h3.tag_title {
    font-family: helvetica;
    text-transform: lowercase;
    font-size: 30pt;
    position: fixed;
    z-index: 100;
}

body#musings .post.video.postnow.musings.sehan4.video.water.blue {
    margin-left: 130px;
    margin-top: 200px;
    margin-right: 30px;
}
