body#musingsresearch {
    margin: 0;
    background-color: gray;
}

body#musingsresearch ul.tags {
    display: none;
}

body#musingsresearch .post.text.sehan4.postnow.text.musingsresearch {
    display: block;
    font-size: 20pt;
    line-height: 22pt;
    z-index: 10;
    text-align: left;
    margin-left: 10%;
}

body#musingsresearch a.link {
    display: none;
}

body#musingsresearch ul.tags {
    display: none;
}

body#musingsresearch ul.tags {
    display: none;
}

h3.tag_title {
    font-size: 24px;
    font-family: helvetica;
}










