body #musings {
    background-color: red;   
}

body #musings .post {
    background-color: white;
}

h3.tag_title {
    font-family: helvetica;
    font-size: 30pt;
    position: fixed;
    z-index: 100;
}
