body#musingsresearch {
    margin: 0;
    background-color: whitesmoke;
}

body#musingsresearch ul.tags {
    display: none;
}

body#musingsresearch .copy {
    font-size: 12pt;
    line-height: 14pt;
    max-width: 40%;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 30px;
}
body#musingsresearch .post.text.sehan4.postnow.text.musingsresearch {
    display: block;
    font-size: 20pt;
    line-height: 22pt;
    z-index: 10;
    text-align: left;
    margin-left: 10%;
} 

body#musingsresearch .post.text p {
    font-family: courier;
    font-size: 8pt;
    line-height: 11pt;
    color: black;
    max-width: 300px ; 
    margin-left: -120px;
}

body#musingsresearch a.link {
    display: none;
}

body#musingsresearch a {
    text-decoration: underline;
    color: grey;
} 

h1 {
    font-size: 30pt;
    line-height: 32pt;
    color: black;
    font-weight: 900;
    z-index: 99;
    position: fixed;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 30px;
}

body#musingsresearch ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
    font-size: 24px;
    font-family: helvetica;
}

h4 {
    padding-left: 700px;
    padding-top: 90px;    
    font-family: courier;
    text-transform: lowercase;
    font-size: 8pt;
    line-height: 11pt;
    max-width: 1000px;
    color: black;
}










