body {
    font-family: Proxima Nova;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
	background: aquamarine;
}

iframe {
    display: none;
}

.container {
    padding: 70px;
    background-color: azure;
}

h3.tag_title {
    display: none;
}

.iceland1 {
    display: none;
}

.iceland2 {
    display: none;
}

.iceland3 {
    display: none;
}

.iceland4 {
    display: none;
}

.iceland5 {
    display: none;
}

.iceland6 {
    display: none;
}

.iceland7 {
    display: none;
}

.iceland8 {
    display: none;
}

.iceland9 {
    display: none;
}

.iceland10 {
    display: none;
}

a.link {
    display: none;
}

ol, ul {
    list-style: none;
    display: none;
}

h3.title {
    text-transform: uppercase;
    font-family: times;
    font-style: oblique;
    position: fixed;
    color: antiquewhite;
}

<p style="
    font-size: 20px;
    font-weight: 700;
"><b>Reykjavik</b></p>
