body {
    font-family: Proxima Nova;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
	background: aquamarine;
}

iframe {
    display: none;
}

.nav {
    font-family: proxima nova;
    position: absolute;
    font-size: 12px;
    margin: 120px;
    text-decoration: overline;
}

.container {
    padding: 70px;
}

h3.tag_title {
    display: none;
}

.iceland1 {
    display: none;
}

.iceland2 {
    display: none;
}

.iceland3 {
    display: none;
}

.iceland4 {
    display: none;
}

.iceland5 {
    display: none;
}

.iceland6 {
    display: none;
}

.iceland7 {
    display: none;
}

.iceland8 {
    display: none;
}

.iceland9 {
    display: none;
}

.iceland10 {
    display: none;
}

a.link {
    display: none;
}

ol, ul {
    list-style: none;
    display: none;
}

h3.title {
    text-transform: uppercase;
    font-family: proxima nova;
    font-style: normal;
    position: fixed;
    font-size: 20px;
}

.left {
    display: block;
    float: left;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 50px;
}

.right {
    display: block;
    float: right;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 50px;
}

.like_button {
    width: 20px;
    margin-left: 260px;
    display: none;
}

.comment_button {
    width: 20px;
    margin-left: 260px;
    display: none;
}

.copy {
    margin: 0px;
    background-color: white;
    padding: 30px;
}

b {
    font-size: 30px;
    font-weight: 700;
}

img {
    padding: 20px;
}

p {
    padding-left: 20px;
}

.seljalandsfoss {
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 50px;
    display: block;
    float: left;
	background-color: white;
}

.westfjords {
    width: 40%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 50px;
    display: block;
    float: right;
	background-color: white;
}

.culturenight {
    display: block;
    float: left;
    width: 40%;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

.white2 {
    position: fixed;
    top: 360px;
    left: 70px;
    width: 180px;
    height: 130px;
    z-index: 99;
    background: #fff;
}

.white3 {
    position: fixed;
    top: 320px;
    left: 870px;
    width: 50px;
    height: 160px;
    z-index: 99;
    background: #fff;
}

.white4 {
    position: fixed;
    top: 210px;
    left: 420px;
    width: 60px;
    height: 230px;
    z-index: 99;
    background: #fff;
}

.white5 {
    position: fixed;
    top: 570px;
    left: 870px;
    width: 230px;
    height: 20px;
    z-index: 99;
    background: #fff;
}

.white6 {
    position: fixed;
    top: 540px;
    left: 170px;
    width: 40px;
    height: 70px;
    z-index: 99;
    background: #fff;
}

.white7 {
    position: fixed;
    top: 540px;
    left: 420px;
    width: 360px;
    height: 120px;
    z-index: 99;
    background: #fff;
}

.white8 {
    position: fixed;
    top: 161px;
    left: 230px;
    width: 110px;
    height: 30px;
    z-index: 99;
    background: #fff;
}

.white9 {
    position: fixed;
    top: 220px;
    left: 980px;
    width: 70px;
    height: 370px;
    z-index: 99;
    background: #fff;
}
