body {
    font-family: proxima nova;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.02em;
    background-color: aquamarine;
}

h3.tag_title {
    padding-bottom: 20px;
    display: none;
}

a.link {
    display: block;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
    display: none;
}
