.postnow.photo{
	display:block;
	float:center;
	width:50%;
	padding:15px;
}


.copy{
	text-align:center;
	padding:5px;
	margin-left: 50px;
	margin-right:50px;
	display:block;
	float:center;
}


h1{
	text-align:center;
	font-size:90px;
	font-family: Baskerville;
	font-family: Baskerville;
	color: gray;
	padding:20px;
}

h2{
	text-align:center;
	font-size:20px;
	font-family: Caslon;
	color:gray;
	padding:50px;
}

#moon{	
	width:15%;
}
