.postnow.photo{
	display:block;
	width:20%;
	padding:15px;
}


p{
	text-align:center;
	padding:5px;
	margin-left: 100px;
	margin-right:100px;
}


h1{
	text-align:center;
	font-size:90px;
	font-family: Baskerville;
	font-family: Baskerville;
	color: gray;
	padding:20px;
}

h2{
	text-align:center;
	font-size:20px;
	font-family: Caslon;
	color:gray;
	padding:50px;
}

#moon{	
	width:15%;
}
