body#nostalgiadraft .post.nostalgiadraft {
    width: 33.33%;
    margin: 0;
    padding: 10;
    float: left;
}

body#nostalgiadraft h3.tag_title {
    display: none;
}

body#nostalgiadraft a.link {
    display: none;
}

body#nostalgiadraft a {
    color: gray;
    font-family: courier new;
    font-size: 12px;
}

body#nostalgiadraft a.link {
    display: block;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
    text-decoration: underline;
    color: gray;
}

body#nostalgiadraft .chocolat-wrapper .chocolat-pagination {
    display: inline-block;
    text-align: center;
    color: #000;
    width: 100%;
    font-size: 12px;
    font-family: courier new;
}

body#nostalgiadraft p {
    font-family: courier new;
    font-size: 12px;
    line-height: 18px;
    width: 500px;
}

body#nostalgiadraft .post.container {
    width: 6000px;
}

body#nostalgiadraft .container {
    width: 6000px;
    overflow-x: scroll;
}


