body#nostalgiatome #fixed-menu {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 10px;
}

body#nostalgiatome .spacer {
    width: 100%;
    height: 95px;
}

body#nostalgiatome li {
    font-size: 12px;
    font-family: courier new;
    line-height: 14px;
    color: navy;
}


body#nostalgiatome blockquote {
    font-size: 12px;
    font-family: courier new;
    color: navy;
    line-height: 14px;
    font-style: italic;
}




body#nostalgiatome .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

body#nostalgiatome .nav {
    font-family: futura;
    font-size: 18px;
    text-align: center;
    align-items: center;
    opacity: 0.8;
    margin-top: 20px;
    z-index: 2000;
}



body#nostalgiatome ul.tags{
  display: none;
}
body#nostalgiatome h3.tag_title {
    display: none;
}
body#nostalgiatome a.link {
    display: none;
}

body#nostalgiatome p {
    max-width: 500px;
    padding: 14px;
}


body#nostalgiatome .post.text.nostalgiadraft {
    width: initial;
    position: fixed;
    top: 100px;
    left: 50px;
    margin: 0;
    font-family: courier new;
    font-weight: 600;
    font-size: 80px;
    color:rgba(27, 49, 94, 100);
    text-transform: uppercase;
}    
body#nostalgiatome .container {
    margin-left: 100px;
}

body#nostalgiatome .post {
    height: 100vh;
    overflow-y: scroll;
}

body#nostalgiatome .copy img {
    width: 90%;
    padding-left: 10px;

}

body#nostalgiatome .post img {
    margin-bottom: 50vh;

}

body#nostalgiatome .post.photo.nostalgiadraft {
    width:initial;
    margin: 0;
    }
body#nostalgiatome img.set_photos {
    max-width: 400px;
    height: 400px;
    padding-bottom: 40px;
}

body#nostalgiatome article.posts {
    width: 10620px;
    height: 400px;
    display: flex;
}

body#nostalgiatome .post.text.nostalgiadraft.abstract.jalin6.postnow {
    position: fixed;
    top: 80%;
    left: 50px;
    font-size: 100%;
    line-height: 1.5;
    text-transform: none;
    width: 962px;
}

body#nostalgiatome span.chocolat-pagination {
    font-family: courier new;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    color: navy;
}

body#nostalgiatome p {
    font-size: 12px;
    font-family: courier new;
    color: navy;
    line-height: 14px;
}

body#nostalgiatome a {
    color: pink;
}

body#nostalgiatome a:hover {
    text-decoration: overline;
}

body#nostalgiatome .postcontainer {
    max-width: 400px;
}
