body#nostalgiaresearch div#fixed-menu {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 10px;
}

body#nostalgiaresearch .spacer
{
    width: 100%;
    height: 95px;
}




body#nostalgiaresearch .nav {
    font-family: futura;
    text-align: center;
    align-items: center;
    margin-left: 33%;
    opacity: 0.8;
    margin-top: 20px;
    z-index: 2000;
}







body#nostalgiaresearch p {
    font-family: courier new;
    font-size: 10px;
    color: navy;
}

body#nostalgiaresearch h3.tag_title {
display: none;
}

body#nostalgiaresearch ul.tags {
    display: none;
}



body#nostalgiaresearch .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


body#nostalgiaresearch .post {
    display: block;
    float: left;
    width: 400px;
    margin: 40px;
}

body#nostalgiaresearch .post:nth-child(odd) {
    float: right;
    width: 500px;
    margin: 30px;
}



body#nostalgiaresearch .post.quote {
    border-style: solid;
    border-width: 1pt;
    padding: 15pt;
}


















body#nostalgiaresearch span.time {
    display:none;
}




body#nostalgiaresearch .text{
    font-family: courier-new;
    font-size:14px;
    line-height:14.5pt;
}

body#nostalgiaresearch .copy{
    font-size:14px;
    line-height:14.5pt;
}

body#nostalgiaresearch .caption{
    font-size:14px;
    line-height:14.5pt;
}

body#nostalgiaresearch .append {
    position: fixed;
    z-index: 9999999;
}


body#nostalgiaresearch a {
    color: pink;
}

body#nostalgiaresearch a:hover {
    text-decoration: overline;
}


body#nostalgiaresearch .chocolat-overlay{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color: transparent;
    display:none;
    opacity: 1;
}


body#nostalgiaresearch .chocolat-wrapper .chocolat-bottom{
    display: none;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:40px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

body#nostalgiaresearch img.set_photos {
    max-height: 350px;
}
