body#nostalgiadraft .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}
body#nostalgiadraft ul.tags{
  display: none;
}
body#nostalgiadraft h3.tag_title {
    display: none;
}
body#nostalgiadraft a.link {
    display: none;
}


body#nostalgiadraft .post.text.nostalgiadraft {
    width: initial;
    position: fixed;
    top: 100px;
    left: 50px;
    margin: 0;
    font-family: courier new;
    font-weight: 600;
    font-size: 80px;
    color:rgba(27, 49, 94, 100);
    text-transform: uppercase;
}    
body#nostalgiadraft .container {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top: 28%;
    left: 0px;
    right: 0px;
}
body#nostalgiadraft .post.photo.nostalgiadraft {
    width:initial;
    margin: 0;
    }
body#nostalgiadraft img.set_photos {
    max-width: 400px;
    height: 400px;
}

body#nostalgiadraft article.posts {
    width: 10620px;
    height: 400px;
    display: flex;
}

body#nostalgiadraft .post.text.nostalgiadraft.abstract.jalin6.postnow {
    position: fixed;
    top: 80%;
    left: 50px;
    font-size: 100%;
    line-height: 1.5;
    text-transform: none;
    width: 962px;
}

