body#nostalgiadraft .post.nostalgiadraft {
    width: 33.33%;
    margin: 0;
    padding: 10;
    float: left;
}

body#nostalgiadraft h3.tag_title {
    display: none;
}

body#nostalgiadraft a.link {
    display: none;
}

body#nostalgiadraft a {
    color: gray;
}
