body#onecup h3.tag_title {
    display: none;
}

body#onecup ul.tags {
    display: none;
}

body#onecup .copy {
    display: none;
}

body#onecup .post.onecupbackground{
display: none;
}

body#onecup .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#onecup {
    font-family: times;
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0.02em;
}

body#onecup {
background: url("http://67.media.tumblr.com/ee92e6c2715566ddd4282a4c09f6c3eb/tumblr_oev6l0ks5E1vf7reno1_400.gif");
background-repeat: repeat;
}
