body#onecuplink h3.tag_title {
	display: none;
}

body#onecuplink ul.tags {
	display: none;
}

body#onecuplink a.link {
	display: none;
}


body#onecuplink .post.onecupbackground{
	display: none;
}

body#onecuplink .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#onecuplink .post.text p {
    font-size: 60pt;
    line-height: 1;
    font-family: serif;
}
