body#onecup {
background-img: url (http://67.media.tumblr.com/ee92e6c2715566ddd4282a4c09f6c3eb/tumblr_oev6l0ks5E1vf7reno1_400.gif)
  background-repeat: repeat-y;
}

body#rollover a.link, body#onecuprollover ul.tags, body#onecuprollover h3.tag_title {
    display: none;
}

body#onecuprollover .post {
width:800px;
}

body#onecuprollover .post {
    width: 340px;
    position: relative;
    height: 340px;
    overflow: hidden;
}

body#onecuprollover .post:hover .image {
display:none;
}

body#onecuprollover .post:hover .copy {
    display:block;
}
    
