*, body {
    cursor: url(http://67.media.tumblr.com/55e9674c6396c5f87ab85fa9b11aa8d9/tumblr_oex0obzBl71vf7reno1_100.gif), auto;
}

body#onecup h3.tag_title {
	display: none;
}

body#onecup ul.tags {
	display: none;
}

body#onecup a.link {
	display: none;
}

body#onecup .copy {
	display: none;
	min-width: 400px;
}

body#onecup .post.onecupbackground{
	display: none;
}

body#onecup .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#onecup {
    font-family: times;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.02em;
}

body#onecup {
background: url("http://67.media.tumblr.com/ee92e6c2715566ddd4282a4c09f6c3eb/tumblr_oev6l0ks5E1vf7reno1_400.gif");
background-repeat: repeat;
}

body#onecup .copy {
    position: absolute;
    left: 0px;
top:0px;
    visibility: hidden;
}

body#onecup .post:hover .image {
visibility: hidden;
}

body#onecup .post:hover .copy {
    display:block;
	visibility: visible;
}

body#onecup .post.onecupscroll {
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
}

body#onecuptitle .post.text p {
      font-size: 70pt;
      line-height: 1;
}






a {
    text-decoration:underline;
    line-height: 54pt;
    width: 1000px;
    z-index:9999;
    font-size: 54pt;
    text-align: center;
}

body#onecup .onecuptitle {
    display: none;
}

body#onecuptitle .onecuptitle {
 	position: absolute;
 	top: 40px;
 	left: 300px;

}







body#onecup .post {
	max-width: 200px;
	max-height: 250px;
	position: absolute;
	top: 0px;
	left: 0px;
}

body#onecup .post:hover {
	z-index: 9999;
}

body#onecup .post.onecup1 {
	left: 200px;
	top: 140px;
}

body#onecup .post.onecup2 {
	left: 650px;
	top: 430px;
}

body#onecup .post.onecup3 {
	left: 130px;
	top: 490px;
}

body#onecup .post.onecup4 {
	left: 1000px;
	top: 70px;
}

body#onecup .post.onecup5 {
	left: 320px;
	top: 880px;
}

body#onecup .post.onecup6 {
	left: 600px;
	top: 110px;
}

body#onecup .post.onecup7 {
	left: 800px;
	top: 640px;
}

body#onecup .post.onecup8 {
	left: 980px;
	top: 420px;
}

body#onecup .post.onecup9 {
	left: 40px;
	top: 740px;
}

body#onecup .post.onecup10 {
	left: 860px;
	top: 1000px;
}


body#onecup .post.onecup11 {
	left: 880px;
	top: 960px;
}

body#onecup .post.onecup12 {
	left: 940px;
	top: 1200px;
}

body#onecup .post.onecup13 {
	left: 70px;
	top: 1310px;
}

body#onecup .post.onecup14 {
	left: 220px;
	top: 1440px;
}

body#onecup .post.onecup15 {
	left: 550px;
	top: 1310px;
}

body#onecup .post.onecup16 {
	left: 600px;
	top: 1390px;
}

body#onecup .post.onecup17 {
	left: 840px;
	top: 1390px;
}

body#onecup .post.onecup18 {
	left: 1000px;
	top: 1480px;
}


body#onecup .post.onecup19 {
	left: 935px;
	top: 1600px;
}
