body#onecup h3.tag_title {
	display: none;
}

body#onecup ul.tags {
	display: none;
}

body#onecup a.link {
	display: none;
}

body#onecup .copy {
	display: none;
}

body#onecup .post.onecupbackground{
	display: none;
}

body#onecup .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#onecup {
    font-family: times;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.02em;
}

body#onecup h3.title {
	font-size: 45pt;
   	line-height: 54pt;
   	width: 1000px;
	z-index:9999;
	position: absolute;
	top: 0px;
	left: 300px;
	text-align: center;
	
}

body#onecup {
background: url("http://67.media.tumblr.com/ee92e6c2715566ddd4282a4c09f6c3eb/tumblr_oev6l0ks5E1vf7reno1_400.gif");
background-repeat: repeat;
}

body#onecup .copy {
    position: absolute;
    bottom: -300px;
    left: 0px;
    display:none;
}

body#onecup .post:hover .image {
display:none;
}

body#onecup .post:hover .copy {
    display:block;
}
    






body#onecup .post {
	max-width: 400px;
	max-height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
}

body#onecup .post:hover {
	z-index: 9999;
}

body#onecup .post.onecup1 {
	left: 200px;
	top: 140px;
}

body#onecup .post.onecup2 {
	left: 650px;
	top: 430px;
}

body#onecup .post.onecup3 {
	left: 130px;
	top: 540px;
}

body#onecup .post.onecup4 {
	left: 410px;
	top: 500px;
}

body#onecup .post.onecup5 {
	left: 810px;
	top: 220px;
}
