body#openobscura {
background-color:white;
}

body#openobscura .post { 
background-color:orange;
color:red;
font-size: 50pt;
font-family: arial;
line-height: 30px;
}

body#openobscura h3.tag_title { 
display:none;
}

position: absolute;
top: 0px;
left; 50px

<h1 style="color:blue;">This is a Blue Heading</h1>



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
