body#openobscura {
background-color:white;
}

body#openobscura .post { 
background-color:orange;
}

body#openobscura .post.test p {
    color:white;
    font-size: 50pt;
    font-family: arial;
    line-height: 30px;
    letter-spacing: 0.02em;
}


position: absolute;
top: 0px;
left; 50px

