.container {
display: none;
}

h3.tag_title {
    display: none;
}


body#twitter-widget-0 .element style{
    max-width: 75%;
    min-width: 180px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}



.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 30px;
}
