.container {
padding-top: 400px;

}

h3.tag_title {

    display: none;

}

body {
background-color: white;
}

div.center {
    height: 600px;
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -300px;
}


.title {
 font-family: Arial, sans-serif;
    color: navy;
    font-size: 16pt;
    line-height: 1em;
    text-decoration: none;
 position:fixed;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.post.text p {
    display: none;
}

a {
display: none;
}

a.link {
    display: none;
}

span {
    color: navy;
    font-size: 36pt;
    line-height: 65pt;
    margin-left: 20px;
    margin-top: 27px;
}


#list span {
    position: fixed;
    top: -27px;
    left: -20px;
    background: rgba(0, 1, 113, 0.9);
    height: 100vh;
    z-index: 999999;
    color: #fff;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 60px;
    line-height: 80px;
}

#list:target .hide {
    position: fixed;
    top: 0px;
    right: 0px;
    color: #fff;
}

img, video, object, embed {
    max-width: 100px;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-top: 27px;
}
