body#ourbucketlistdraft {
    background-image: url(https://67.media.tumblr.com/c3bcc764aaf14df5d952b849b85f20a8/tumblr_oez162mgs31vf7reno1_1280.png);
    background-repeat: repeat;
    background-position-y: 19%;
}

a {
    text-decoration: none;
    color: black;
    font-family: Palatino;
    font-size: 14px;
    font-weight: bolder;
    font-style: italic;
    line-height: 55px;
} 

.postcontainer {
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
}

ul.tags {
    display: none;
}

a.link {
    display: none;
}

h3.tag_title {
    opacity: 0;
}

p.checked {
    text-decoration: line-through;
}

.post {
    color: navy;
}

