
.title {
    position: absolute;
    top: 10px;
    left: 50%;
    

body#perfumedraft {

background : white;

}

.intro {
-webkit-columns: 300px 2;
   -moz-columns: 300px 2;
        columns: 300px 2;
}

body#perfumedraft .post img {
    width: 100%;
}

body#perfumedraft .post {  
   display: block;
   margin: auto;
   width: 100%;		
   padding: 20px;
}

body#perfumedraft h3.tag_title {
	display: none;
}

body#perfumedraft ul.tags {
	display: none;
}

body#perfumedraft a.link {
	display: none;
}

body#perfumedraft .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
	display: none;
}

body#perfumedraft .copy {
    padding: 5px;
	
}
