body#perfumedraft {

background : white;

}

.intro {
-webkit-columns: 300px 2;
   -moz-columns: 300px 2;
        columns: 300px 2;
}

body#perfumedraft .post {  
   display: block;
   margin: auto;
   width: 40%;
}
