body#pfor {
  	background-color:#E0E0E0;
}

.post h3.tag_title {
	display:none;
}

.post.text p {
	color:#000000;
	max-width:500px;
  	margin:auto;
}

.post ul.tags {
	display:none;
}

.append {
	padding-left:300px;
}

h3.tag_title {
    display: none;
}
