body#pfor {
  	background-color:#E0E0E0;
}

h3.tag_title {
	display:none;
}

.post.text p {
	color:#000000;
	max-width:600px;
  	margin:auto;
}

.post ul.tags {
	display:none;
}

.post.video {
	/*border:1 px #000000;*/
	display:inline-block;
	max-width:600px;
	margin:auto;
}
