body#pfor {
  	background-color:#E0E0E0;
}

.heading {
	color:#000000;
	max-width:600;
  	margin:auto;
}

.post ul.tags {
	display:none;
}

.video {
	border:1px #000000;
	max-width:600px;
	margin:auto;
}

