body#photography {
background-color:white;
display:block;
float:left;
border:0px solid #000;
    
}

body#photography a.link {
    font-family: arial;
}

body#photographyt .post .postcontainer {
    padding: 0 18px;
}

body#photography .post {
    width: 25%;

}

body#photography .copy {
    display: none;
}

body#photography .post.clear {
    clear: both;
    display: inherit;
    float: none;
    border: 0px;
    height: 0px;
    overflow: hidden;
}
body#photography ul.tags {
    display: none;
}
