body#photographyresearch {
background-color: white;
font
}

body#photographyresearch ul.tags {
    display: none;
}

h1#photographyresearch {
font-family: garamond;
}

body#photographyresearch .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    }
body {
    font-family: garamond;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.02em;
}

body#photographyresearch .post {
    display: block;
    height: 400px;
    width: 340px;
    background: rgb(234, 178, 174);
    float: left;
    margin-right: 38px;
}


