body#photography {
background-color:black;
display:block;
float:left;
border:0px solid #000;
    
}

body#photography a.link {
    display: none;
    font-family: Baskerville;
    font-size: 10;
line-height: 20px;
    letter-spacing: 0.02em;
}


body#photography .post .postcontainer {
    padding: 0 18px;
}

body#photography .post {
    width: 25%;

}

body#photography .copy {
    display: none;
}

body#photography .post.clear {
    clear: both;
    display: inherit;
    float: none;
    border: 0px;
    height: 0px;
    overflow: hidden;
}
body#photography ul.tags {
    display: none;
}

 .tags{
       display: none;
    }

}
.post {
    width: 25%;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.post {
    width: 20%;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}
a {
    text-decoration: underline;
    color: #36465d;
}
.post.headline {
    color: #f2992e;
    width: 100%;
}
.post.fogdesign1 {
    width: 50%;
    color: #f2992e;
    margin: auto;
    text-align: center;
    float: none;
}
.photoset img.set_photos {
    width: 100%;
    height: 100%;
}
body#photography .post {
    background: hsla(0, 0%, 100%, 0.83);
    left: 810px;
    right: 810px;
    width: 500px;
    width: 900px;
    overflow-y: scroll;
    margin-top: 150px;
    margin-left: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    height: 400px;
    border: 0px solid;
}

a.link {
    display: block;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
    color: black;
}


.post.fogdesign1 {
    width: 50%;
    color: #36465d;
    border: 0px solid;
    text-align: center;
    float: none;
}
.post.photo.photography.fogdesign.ydai34 {
    background-color: darkcyan;
    align-content: center;
    border: 5px;
    border-color: coral;
    padding-bottom: 20px;
    width: 300px;
    float: left;
    margin-bottom: 80px;
    width: 60%;
    display: inline-block;
    margin-right: 97px;
    margin-left: 46px;
}
    
