body#photoessaydraft {
background-color:white;
display:block;
float:left;
border:2px solid #000;
    
}

body#photoessaydrafts a.link {
    font-family: arial;
}

body#photoessaydraft .post .postcontainer {
    padding: 0 18px;
}

body#photoessaydraft .post {
    width: 25%;

}

body#photoessaydraft .post.copy {
    display: none;
}

body#photoessaydraft .post.clear {
    clear: both;
    display: inherit;
    float: none;
    border: 0px;
    height: 0px;
    overflow: hidden;
}
body#photoessaydraft ul.tags {
    display: none;
}
