body#photographyresearch {
background-color: white;
font
}
body#photographyreseach h3.tag_title {
    display: none;
}

body#photoresearch ul.tags {
    display: none;
}

body#photographyresearch a.link {
    display: none;
}

h1#photographyresearch {
font-family: garamond;
}



