/* .append img {
    max-width: 30%;
    position: fixed;
    margin-top: 1%;
}

.post.photo.racri2.logo.pizzashopdraft.postnow.pizzashopabout {
    display: none;
}
 */
ul.tags {
    display: none;
}

.title h3.title {
    display: none;
}

p {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
    max-width: 800px;
    margin-left: 40%;
    margin-top: 15%;
}

.postcontainer a.link {
    display: none;
}

h3.tag_title {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2%;
    top: 3%;
    position: fixed;
}

h1:hover {
    color:gold;
}

a {
    text-decoration: none;
    color: black;
}
