body .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

.postcontainer a.link {
    display: none;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

h3.tag_title {
    display: none;
}

ul.tags {
    display: none;
}

.post.photo.racri2.postnow.pizzaboxindex {
    display: none;
}

.post.photo.racri2.pizzashop.menuindex.postnow.pizzashopresearch {
    display: none;
}

.post.photo.racri2.pizzashop.streetviewindex.postnow {
    display: none;
}


.abstractindex p {
    position: fixed;
    max-width: 43%;
    top: 16%;
    left: 17%;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.abstractindex .rachelle {
    position: fixed;
    top: 20%;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 16px;
}

.abstractindex p:hover {
    color:red;    
}

.streetviewindex img {
    position: fixed;
    max-width: 45%;
    right: -1%;
    top: 0%;
    z-index: 1;
}

.menuindex img {
    max-width: 35%;
    position: fixed;
    bottom: 0;
    left: 33%;
}


.pizzaboxindex img {
    position: fixed;
    max-width: 30%;
    top: 34%;
    left: 0;
}

.rachelle a {
    text-decoration:none;
    color:black;
    font-family:monospace:
}

a {
    text-decoration: none;
}

.rachelle {
    position: fixed;
    left: 17%;
    top: 21%;
    font-family: monospace;
    font-size: 19px;
    text-transform: uppercase;
}

.post.photo.racri2.postnow.restaurantindex.pizzashop.pizzashopresearch {
    display: none;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
