
.iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}

.postcontainer a.link {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

h3.tag_title {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

ul.tags {
    display: none;
}

.menuindex img {
    max-width: 40%;
    position: fixed;
    margin-top: 10%;
}

.restaurantindex img {
    max-width: 30%;
    margin-top: 5%;
    margin-left: 38%;
    position:fixed;
}

.post.photo.racri2.postnow.restaurantindex.pizzashop.pizzashopresearch {
    display: none;
}

