/*   body {
    font-family: arial;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 60px;
  }


.post{
    width: 30%;
    height: 400px;
    margin-bottom: 0px;
    display: block;
    float: left;
    margin: 10px 10px;
}

.postcontainer {
    margin-top: -64px;
    padding-bottom: 26px;
}

ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

.postcontainer a.link {
    display: none;
}

.post.title a {
    text-decoration: none;
    color: black;
    font-family: monospace;
}

.iframe-controls-container.iframe-controls-container--logged-in {
    padding: 2px;
    display: none;
}

.container {
    padding: 20px;
    margin-top: 150px;
}



.post.title .copy {
    color: black;
    font-size: 20px;
    line-height: inherit;
}



h3.title {
    position: fixed;
    z-index: 1;
    margin-top: -76px;
    margin-left: -8px;
}


h3 {
    text-transform: uppercase;
    float: left;
    margin-left: 0;
    margin-top: 183px;
    font-size: 90px;
}

.iframe-controls-container .buttons-container {
    display: none;
}

.nav {
    position: fixed;
    margin-top: -100px;
    margin-left: 83.5%;
    text-align: right;
}

a {
  text-decoration:none;
  color:black;
}
 */

.post.photo.racri2.logo.pizzashopdraft.pizzashopabout.postnow {
    margin-top: -12%;
    max-width: 30%;
    margin-left: -1%;
    position: fixed;
}

ul.tags {
    display: none;
}

.title h3.title {
    display: none;
}



