
.iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}

.postcontainer a.link {
    display: none;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

h3.tag_title {
    display: none;
}

ul.tags {
    display: none;
}

.post.photo.racri2.postnow.restaurantindex.pizzashop.pizzashopresearch {
    display: none;
}

.post.photo.racri2.pizzashop.menuindex.postnow.pizzashopresearch {
    display: none;
}

.post.photo.racri2.pizzashop.streetviewindex.postnow {
    display: none;
}

.abstractindex p {
    position: fixed;
    max-width: 43%;
    top: 14%;
    left: 10%;
    text-decoration: none;
    color: black;
}

.abstractindex p:hover {
    text-decoration: underline;
}

.menuindex img {
    max-width: 35%;
    position: fixed;
    top: 48%;
    left: 0%;
}

.streetviewindex img {
    position: fixed;
    max-width: 45%;
    right: -1%;
    top: 0%;
    z-index: 1;
}

.restaurantindex img {
    max-width: 30%;
    bottom: 0;
    left: 39%;
    position: fixed;
}
