
body .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

.postcontainer a.link {
    display: none;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

ul.tags {
    display: none;
}

.title h3.title {
    display: none;
}

p {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
    max-width: 800px;
    margin-left: 40%;
    margin-top: 15%;
}

.postcontainer a.link {
    display: none;
}

h3.tag_title {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2%;
    top: 3%;
    position: fixed;
}

h1:hover {
    color:gold;
}

a {
    text-decoration: none;
    color: black;
}
