  body {
    font-family: arial;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 60px;
  }


.post{
    width: 30%;
    height: 400px;
    margin-bottom: 0px;
    display: block;
    float: left;
    margin: 10px 10px;
}

.postcontainer {
    margin-top: -64px;
    padding-bottom: 26px;
}

ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

.postcontainer a.link {
    display: none;
}

h3 {
    text-transform: uppercase;
    float: left;
    margin-left: 0;
    margin-top: 100px;
    font-size: 54px;
}

.post.title a {
    text-decoration: none;
    color: red;
}

.iframe-controls-container.iframe-controls-container--logged-in {
    display: none;
}
