body .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

.postcontainer a.link {
    display: none;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    left: 0;
    top: 0;
    position: fixed;
    background: white;
    width: 100%;
    padding: 1%;
    padding-left: 4%;
}

ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

.pizzashopresearch .postcontainer {
    max-width: 300px;
    float: left;
    padding: 40px;
    margin: 5px;
}

.post.video.racri2.postnow.pizzashopresearch {
    max-width: 300px;
    float: left;
    padding: 40px;
}

.abstract p {
    float: left;
    max-width: 43%;
    margin-top: 13%;
    margin-left: 10%;
    font-size: 100%;
    line-height: normal;
}

.postcontainer p {
    font-size: 12px;
    line-height: 12px;
}

.header {
    width: 100%;
    background: white;
    float: left;
    height: 450px;
}

.info {
    max-width: 43%;
    margin-left: 60%;
    margin-top: 14%;
    font-family: monospace;
    font-size: 12px;
}

.video a {
    display: none;
}

.post.video.racri2.postnow.pizzashopresearch {
    max-width: 300px;
    float: left;
    padding: 30px;
}

.video iframe {
    max-width: 250px;
    margin-left: -16px;
}

.video p {
    font-size: 12px;
    line-height: 12px;
    margin-left: -16px
}

.streetview iframe {
    max-width: 250px;
    margin-left: 4px;
}

.streetview a{
    display: none;
}

a {
text-decoration:none;
    color:black;
}
