.post{
    width: 30%;
    height: 400px;
    margin-bottom: 0px;
    display: block;
    float: left;
    margin: 10px 10px;
}

.postcontainer {
    margin-top: -64px;
    padding-bottom: 26px;
}

  body {
    font-family: arial;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 60px;
  }

.iframe-controls-container {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
