body .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

.postcontainer a.link {
    display: none;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

ul.tags {
    display: none;
}

h3.tag_title {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

.postcontainer {
    max-width: 300px;
    float: left;
    padding: 40px;
}

p {
    font-size: 12px;
    line-height: 12px;
}


