body#popculturedraft {
    background-color: antiquewhite;
}

body#popculturedraft ul.tags li {
    display: none;
}

body#popculturedraft a.link {
    display: none;
}

body#popculturedraft h3.tag_title {
    display: none;
}
