a {
 color:#000;
}

h3 {
    text-transform: uppercase;
    font-size: 100px;
    display: block;
    line-height: 100px;
}

h3.tag_title {
    display: none;
}

body#postnow .post {
    max-height: inherit;
    overflow: visible;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    float: none;
    max-width: 100%;
}

.post.postnow {
display:block;
} 

body#postnow .post.text {
    max-height: inherit;
    overflow: visible;
}

article.posts {
    width: 800px;
    margin: auto;
    text-align: center;
}

body#postnow .post.text.postnow.postnowtitle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    height: 100px;
}

.post.text.postnow.postnowtitle a.link {
	display: none;
}

.post.text.postnow.postnowtitle ul.tags {
	display: none;
}

.post.text.postnow.postnowtitle p {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: red;
}

body#postnow .tumblr_video_container iframe {
    margin: auto;
}
