html {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9E29), to(#FFF399));
}

body {
margin-top: 50px;
}


article.posts { 
width: 510px; 
margin: auto; 
text-align: center; 
}

img { 
   border:1px solid #021a40;
}

body#prankocean h3.tag_title {
display: none;
}

body#prankocean ul.tags {
    display: none;
}

body#prankocean .copy {
    display: none;
}

body#prankocean a.link {
    display: none;
}

body#prankocean .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

body#prankocean .post.f74 {
    margin-bottom:150px;
}

