body#process {
background-color:blue;
}

body#process .post {
background-color:red;
}

body#process h3.tag_title {
  display: none;
}

body#process ul.tags {
    display: none;
}

body#process .post.green {
    background-color: green;
}
