head {
    display: none;
}

body {
   position: relative;
   margin: 0;
   padding: 0px;
   font-family: sans-serif;
   font-size: 23px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0.02em;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-size: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}

a.hover{
    color: #ff0000;
}

a.link {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    text-align: center;
}
