body#punsdraft{
background:white;
}

/*this is the tags being hidden*/
.post ul.tags{
	display:initial;
}

/*this is the permalink being hidden*/
a.link {
    display: initial;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

/*this is the instructions for all the posts*/
body#punsdraft .post {
  border:5px solid navy;
  padding:10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 19px;
  background:navy;
  
}

.post.text p {
    color: orange;
}

/* this is for the bold part of texts - for the usernames */
b {
    font-weight: bold;
    color: orange;
    line-height: 40px;
    text-decoration: underline;
}

/* this is all the posts that have the tag #long */
body#punsdraft .post.long .copy{
  height: 200px;
  width: 600px;
  overflow: scroll;
}

/* tags with #long1 or #short1 are just variations or different posts. This is all just to push it to the side*/
body#punsdraft .post.short2 {
  margin-left: 400px;
  margin-right: 70px;
}

body#punsdraft .post.medium1 {
  margin-left: 470px;
}

body#punsdraft .post.long2 {
  margin-left: 530px;
}

body#punsdraft .post.long1 {
  margin-left: 590px;
}

body#punsdraft .post.short1 {
  margin-left: 650px
}
