body#punsdraft{
background:white;
}

body#punsdraft .post {
  border:10px solid orange
}

body#punsdraft .post.long .copy{
  height: 250px;
  width: 600px;
  overflow: scroll;
}

body#punsdraft .post.long1 .copy{
    margin: 5% 15% 5% 40%;
}
