body#punsdraft{
background:orange;
}

/* this is the Posts Tagged "_____" thing at the top that's being hidden */
h3.tag_title {
    display: none;
}

/*this is the instructions for all the posts*/
body#punsrationale .post {
  padding:10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 36px;
    color: navy;
    text-align: center;
}

