body#punsdraft{
background:white;
}

body#punsdraft .post {
  border:10px solid orange;
  padding:45px;
  width: 50%;
}

body#punsdraft .post.long .copy{
  height: 250px;
  width: 600px;
  overflow: scroll;
}

body#punsdraft .post.long1 {
  margin-left: 500px;
}

body#punsdraft .post.short1 {
  margin-left: 550px
}
