.post.photo {
    max-width: 20%;
    display: block;
    float: right;
    padding: 20px;
    }

img{
    max-width: 20%;
    display: block;
    float: right;
    padding: 20px;
    }
    
    
 .post.text {
    font-size: 15px;
    max-width: 50%;
    float: right;
    padding: 50px;
    line-height: 20px;
    }

p {
    font-size: 15px;
    float: right;
    padding: 50px;
    line-height: 20px;
    }
    

.btn {
  background: #fcd741;
  background-image: -webkit-linear-gradient(top, #fcd741, #fcbf0a);
  background-image: -moz-linear-gradient(top, #fcd741, #fcbf0a);
  background-image: -ms-linear-gradient(top, #fcd741, #fcbf0a);
  background-image: -o-linear-gradient(top, #fcd741, #fcbf0a);
  background-image: linear-gradient(to bottom, #fcd741, #fcbf0a);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 4px #666666;
  -moz-box-shadow: 0px 1px 4px #666666;
  box-shadow: 0px 1px 4px #666666;
  font-family: verdana;
  color: #000000;
  font-size: 11px;
  padding: 5px 14px 5px 14px;
  text-decoration: none;
}

.btn:hover {
  background: #f5d03b;
  background-image: -webkit-linear-gradient(top, #f5d03b, #f5b60a);
  background-image: -moz-linear-gradient(top, #f5d03b, #f5b60a);
  background-image: -ms-linear-gradient(top, #f5d03b, #f5b60a);
  background-image: -o-linear-gradient(top, #f5d03b, #f5b60a);
  background-image: linear-gradient(to bottom, #f5d03b, #f5b60a);
  text-decoration: none;
}

h3.tag_title {
    display: none;
}


ul.tags {
    font-size: 10px;
    color:green;
}

a.link {
   font-size: 10px;
    color:red;
}

ul.tags li {
    font-size: 10px;
    line-height: 15px;
}

.post.heading {
    max-width: 30%;
}

.post.yes {
    color: green;
}

.post.no {
    color: red;
}
