body#rzha124 {
    background-color: rgba(255, 209, 182, 0.37);
}

.post.rzha124 {
    display: block;
    float: none;
    text-align: left;
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    font-size: medium;
}

.post.silverscreendraftthumbnail {
    width: 20%;
}

.post.rationale {
    text-align: center;
}

.post.photo.rzha124.silverscreenresearch.silverscreen.grace_kelly.postnow {
    width: 30%;
}

.post.photo.rzha124.silverscreenresearch.silverscreen.angela_lansbury.postnow {
    width: 40%;
}

.post.photo.rzha124.silverscreenresearch.silverscreen.olivia_de_havilland.postnow {
    width: 40%;
}

.post.photo.rzha124.silverscreenresearch.silverscreen.elizabeth_taylor.postnow {
    width: 30%;
}

.post.photo.rzha124.silverscreenresearch.silverscreen.judygarland {
    width: 40%;
}

.post.sibi img.set_photos {
    width: 50%;
}

.post.sibi {
    font-size: medium;
    text-align: left;
}

.post.change {
    width: 55%;
}

.post.objectsubject {
    text-align: left;
    font-size: medium;
}

.post.trial {
    text-align: left;
    font-size: medium;
}

.post.photo.audrey_hepburn.quote.rzha124.actress {
    width: 40%;
    font-size: medium;
}

.post.photo.marilyn_monroe.smile.rzha124.quote {
    width: 35%;
    font-size: medium;
}

.post.silverscreendraft {
    display: none;
}

a.link {
    display: none;
}

ul.tags {
    display: none;
}


