body#selfdiagnosed h3.tag_title {
display: none;
}

body#selfdiagnosed ul.tags {
    display: none;
}

body#selfdiagnosed a.link {
    display: none;
}

nav:hover{
    text-decoration:bold;
}

h1 { 
    margin-left: 40px;
    margin-top: 30px;
    position: absolute;
    font-size: 50px;
}

h1 span{
    color: white;
    font: bold, Helvetica, sans-serif; 
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7)
}
    

.nav{
   color: black;
   font-family: Helvetica; 
   font-size: 40pt; 
   line-height:50pt;
   text-decoration:none;
   margin-left: 40px;
   margin-top: 10px;
   position: absolute;
}


body {
    background-image: url("http://the-cms/tagged/selfdiagnosed");
    background-attachment: fixed;
    background-position: right, top;
    width: 200%;
    margin-left: 100px;
    
}

.copy{
    text-align:center;
}    


.post {
    pointer-events:none;
}

