body#selfdiagnosed {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 12pt;
  display: block;
  background-color: white;
}

body#selfdiagnosed ul.tags {
  display:none;
}

nav{
  font-size: 18px;
  font-family: 'bebasregular';
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  background-color: rgba(153, 174, 239, 0.3);
  padding: 8px 5px 15px 5px;
  opacity: 0.8;
  cursor: crosshair;
  align-items: center;
  word-spacing: 15px;
  color: pink;
}
