body#selfdiagnosed h3.tag_title {
display: none;
}

body#selfdiagnosed ul.tags {
    display: none;
}


body#selfdiagnosed a.link {
    display: none;
}

nav:hover{
    text-decoration:bold;
}

.nav{
   color: black;
   font-family: Helvetica; 
   font-size: 40pt; 
   line-height:50pt;
   text-decoration:none;
   margin-left: -60px;
   margin-top: -5px;
}


body {
    background-image: url("http://the-cms/tagged/selfdiagnosed");
    background-attachment: fixed;
    background-position: right, top;
    
}

.copy{
    text-align:center;
}    


.post {
    pointer-events:none;
}

