


.post.sharedidentityresearch {
    display: none;
}

.post ul.tags {
	display:none;
}

h3.tag_title {
	display: none;
}


a.link {
    display: none;
}


.gsc-control-cse.gsc-control-cse-en {
    display: block;
    position: fixed;
    padding-top: 100px;
}

.post.photo.sharedidentity {
    display: block;
    float: right;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    width: 417px;
	padding-top: 30px;
}

.post.title {
    color: #213dcd;
    position: fixed;
    font-size: 32px;
    line-height: 32px;
    font-family: arial;
    font-weight: bold;
	    padding-left: 14px;
	    padding-top: 10px;

}
element.style {
    width: 100%;
    padding-top: 20px;
    border: none;
    margin: -0.0625em 0px 0px;
    height: 1.25em;
    outline: none;
    background: url(http://www.google.com/cse/static/en/google_custom_search_watermark.gif) left center no-repeat rgb(255, 255, 255);
}

img, video, object, embed {
    max-width: 100%;
    height: auto;
}

img.set_photos {
    width: 300px;
    height: 300px;
}
