
.post.sharedidentityresearch {
    display: none;
}

.post ul.tags {
	display:none;
}

h3.tag_title {
	display: none;
}


a.link {
    display: none;
}


.gsc-control-cse.gsc-control-cse-en {
    display: block;
    position: fixed;
}

.post.photo.sharedidentity {
    display: block;
    float: right;
    width: 50%;
    padding-left: 10px;
    padding-right: 50px;
    width: 417px;
}

.post.title {
    color: #213dcd;
    position: fixed;
    font-size: 50px;
    line-height: 50px;
    font-family: arial;
    font-weight: bold;
}
