.post ul.tags {
	display:none;
}

h3.tag_title {
	display: none;
}


a.link {
    display: none;
}


.gsc-control-cse.gsc-control-cse-en {
    display: block;
    position: fixed;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 60px;
    z-index: 0;

}
.gsc-control-cse div {
    position: static;
    margin-left: 0px;
    margin-right: 33px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 12px;
    padding-top: 83px;
}

td.gsc-search-button {
    position: relative;
    top: 44px;
    left: 0px;
    width: 101px !important;
	    padding-top: 87px;

}


.post.photo.sharedidentity {
    display: block;
    float: right;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    width: 417px;
	padding-top: 30px;
	    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
	padding-bottom: 50px;

}

.post.title {
    color: #213dcd;
    position: fixed;
    font-size: 32px;
    line-height: 32px;
    font-family: arial;
    font-weight: bold;
	    padding-left: 30px;
	    padding-top: 30px;

}



element.style {
    width: 100%;
    padding-top: 20px;
    border: none;
    margin: -0.0625em 0px 0px;
    height: 1.25em;
    outline: none;
    background: url(http://www.google.com/cse/static/en/google_custom_search_watermark.gif) left center no-repeat rgb(255, 255, 255);
}

element.style {
    height: 154px;
    font-weight: normal;
    text-align: center;
    display: none;
}

img, video, object, embed {
    max-width: 100%;
    height: auto;
}

img.set_photos {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border: 1px solid lightgray;
}
.post.text.sharedidentityresearch {
    float: right;
    margin-left: 424px;
    font-size: 14px;
    line-height: normal;
    padding-left: 30px;
    padding-bottom: 50px;
	display: none;

}

.post.photo.sharedidentityresearch {
    float: right;
    margin-left: 424px;
    font-size: 14px;
    line-height: normal;
    padding-left: 30px;
    padding-bottom: 50px;
display: none;
}

h3 {
    text-transform: uppercase;
    display: none;
}



.text.keywords.sharedidentityresearch {
    float: left;
}


.post.photoset.hcmcf1.sharedidentityresearch.postnow.sharedidentity.hannahfacebook {
    display: none;
}

.post a {
    text-decoration: none;
    font-size: 15px;
    color: #213dcd;
    text-transform: none;
}

.post p {
    font-size: 12px;
    height: 22px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: none;
}



.post.text.title p {
    font-size: 32px;
    font-family: arial;
    font-weight: 700;
    line-height: 34px;
}


.gs-bidi-start-align.gs-snippet {
    display: none;
}

.gs-title {
    padding-bottom: 24px;
}



.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
    width: 775px;
    margin-left: 120px;
}

td.gcsc-branding-text div.gcsc-branding-text {
    margin: initial;
    display: none;
}



.post.text.search p {
    font-size: 15px;
    z-index: 1;
    float: left;
    position: fixed;
    margin-left: 30px;
    margin-top: 162px;
	font-family: arial;

}

.gsc-results-wrapper-visible {
    opacity: 1 !important;
    visibility: visible !important;
    padding-top: 12px;
    padding-left: 90px;
}



table.gsc-branding td, table.gsc-branding, table.gcsc-branding td, table.gcsc-branding {
    margin: -32px 0 0 0;
    padding: 0 0 0 0;
    border: none;
	display: none;
}


#adBlock {
    background: #FFFFFF none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    background-color: #fff8f5;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: none;
}
