


body#sharedidentitydraft {
    font-size: 16px;
}

.post ul.tags {
	display:none;
}

h3.tag_title {
	display: none;
}


a.link {
    display: none;
}

.post.text p {
    font-size: 50px;
    width: 57px;
    line-height: 50px;
    color: pink;
    position: fixed;
	left: 40px;
	top: 40px;
}

.post {
    display: block;
    float: right;
    width: 50%;
    padding-left: 10px;
    padding-right: 50px;
    width: 500px;
}
