

h3.tag_title {
	display: none;
}

ul.tags li {
    display: inline-block;
    font-size: 16px;
    display: none;
}

a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

.container {
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}

.post.text.heading {
    font-size: 23px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    position: fixed;
    text-align: center;
    padding-left: 161px;
    margin-top: -15px;
    opacity: 0.5;
}


b {
    font-weight: bold;
}

img, video, object, embed {
    max-width: 100%;
    height: auto;
    padding-top: 28px;
}

