


body#sharedidentitydraft {
    font-size: 16px;
}

.post ul.tags {
	display:none;
}

h3.tag_title {
	display: none;
}


a.link {
    display: none;
}

.post.title {
    font-size: 50px;
    width: 50px;
    line-height: 1px;
    color: pink;
    position: fixed;
}

.post.topleft {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 360px;
}

.post.permalink {
	display: none;
}
