body .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}

a {
    text-decoration: underline;
    color: black;
}

.postcontainer a.link {
    display: none;
}

#nav h1:hover{
    color:red;
}

#nav h1 {
    text-decoration: none;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

.post {
    margin-top: 2%;
    height: 400px;
    display: block;
    float: left;
    padding: 10px;
    margin-bottom: 0%;
    width: 50%;
}

h3.tag_title {
    display: none;
}

.postcontainer a.link {
    display: none;
}

.streetview img {
    max-width: 6%;
}

.streetview a {
    display: none;
}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    left: 2.3%;
    top: 2%;
    position: fixed;
}

ul.tags {
    display: none;
}
