#page-wrap {
    width: 800px;
    margin: 0 autio;
}

html{
    background-color:#ffffff;
}


body#styleshowcase h3.tag_title {
	display: none;
}

body#styleshowcase ul.tags {
	display: none;
}

body#styleshowcase a.link {
	display: none;
}

body#styleshowcase .post.judelaw img {
    width: 300px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: -355px;
    bottom: 0;
    left: 0;
    left: 0;
    right: 0;
    margin: auto;
}



body#styleshowcase .post.friends img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.pinktie img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: -0px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}

body#styleshowcase .post.denim img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


