
html{
    background-color:#ffffff;
}


body#styleshowcase .post.judelaw gif {
    width: 300px; 
    -webkit-border-radius: 5px;
    position: centre
}

body#styleshowcase .post.friends img {
    width: 300px; 
    -webkit-border-radius: 5px;
    position: centre
}
