
body#styleshowcase .tags {
    display: none;
}

body#styleshowcase .post.friends img {
    width: 100%;
    -webkit-border-radius: 4px
}
body#styleshowcase .post.judelaw gif {
    width: 200%;
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.pinktie img {
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.denim img {
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.braids img {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .posts {
    width: 60%;
    position: relative;
    align-content: center;
    margin-left: 25%;
}

body#styleshowcase .post.whitetie img {
    width: 400px; 
    margin-right: 0px;
    margin-top: 0px;
    -webkit-border-radius: 4px;
  
}

body#styleshowcase .post.car img {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .link {
    display: none;
}

body#styleshowcase .post.plantbathroom img {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.cara img {
    width: 400px;
    -webkit-border-radius: 4px;
    
}
