
head {
    display: none;
}

body {
   position: relative;
   margin: 0;
   padding: 50px;
    font-family: garamond;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100%;
    
}

