body#styleshowcase {
background-color:white;
}

body#styleshowcase .post { 
background-color:none;
color:white;
font-size: 40pt;
font-family: avenir;
line-height: 30px;
}
	
body#styleshowcase .post {
    outline: solid;
    outline width:5px
    outline color:black;
}


body#styleshowcase h3.tag_title { 
display:none;
}



body#styleshowcase .link {
    display: none;
}


body#styleshowcase .posts {
    width: 60%;
    position: relative;
    align-content: center;
    margin-left: 25%;
}


body#styleshowcase .tags {
    display: none;
}

body#styleshowcase .post.friends img {
    width: 400px;
    -webkit-border-radius: 4px
}
body#styleshowcase .post.judelaw gif {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.pinktie img {
    width: 4200px;
    -webkit-border-radius: 0px;
}

body#styleshowcase .post.denim img {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.braids img {
    width: 400px;
    -webkit-border-radius: 4px;
}


body#styleshowcase .post.whitetie img {
    width: 400px; 
    margin-right: 0px;
    margin-top: 0px;
    -webkit-border-radius: 4px;
  
}

body#styleshowcase .post.car img {
    width: 400px;
    -webkit-border-radius: 4px;
}


body#styleshowcase .post.plantbathroom img {
    width: 400px;
    -webkit-border-radius: 4px;
}

body#styleshowcase .post.cara img {
    width: 400px;
    -webkit-border-radius: 4px;
    
}
