#page-wrap {
    width: 800px;
    margin: 0 autio;
}

html{
    background-color:#ffffff;
}


body#styleshowcase h3.tag_title {
	display: none;
}

body#styleshowcase ul.tags {
	display: none;
}

body#styleshowcase a.link {
	display: none;
}

body#styleshowcase .post.judelaw img {
    width: 300px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: -355px;
    bottom: 0;
    left: 0;
    left: 0;
    right: 0;
    margin: auto;
}



body#styleshowcase .post.friends img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.pinktie img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: -0px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}

body#styleshowcase .post.denim img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.exposedbrick img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 5250px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}

body#styleshowcase .post.blackbathers img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 6400px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.interiorplants img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 5450px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}
body#styleshowcase .post.greenvelvet img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 4120px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}

body#styleshowcase .post.pink img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 4400px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}
body#styleshowcase .post.lamp img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 2960px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}


body#styleshowcase .post.beachbabe img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 3150px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.floorboardsbed img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 2100px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}

body#styleshowcase .post.malibu img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 1925px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}

body#styleshowcase .post.desertviews img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 1150px;
    bottom: 0;
    left: 850px;
    right: 0;
    margin: auto;
}


body#styleshowcase .post.cupscups img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 1060px;
    bottom: 0;
    left: 0;
    right: 850px;
    margin: auto;
}


body#styleshowcase .post.fresh img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 1300px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.stoneroom img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 2280px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.crab img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 4450px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.holiday img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 3260px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.plants img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.drive img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.carrie img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}

body#styleshowcase .post.paintandbrush img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.simplebutsignificant img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.beachside img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.topknot img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.theperfectentranace img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.brad img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.balance img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.monsteraleaf img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.cougar img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.flatdog img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.yes img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}


body#styleshowcase .post.whiteonwhite img {
    width: 400px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 6400px;
    left: 0;
    right: 0px;
    margin: auto;
}

