body#tedtalkdraft {
background-color:blue;
}

body#tedtalkdraft .post {
background-color:red;
}

body#tedtalkdraft h3.tag_title {
    display: none;
}

body#tedtalkdraft ul.tags {
    display: none;
}
