body#thetruthisouttheredraft {
	background : white ;
}

.post.photo {
	width:20%;
	display:block;
	float:left;
	padding-left:10px;
	padding-right:10px;
}
h3.tag_title {
    display: none;
}
a.link {
    display: none;
}
ul.tags {
    display: none;
}
.copy {
    width: 50%;
    font-size: 20px;
    line-height: 1.3;
}
