
h3.tag_title {
    display: none;
}
a.link {
    display: none;
}

ul.tags {
    display: none;
}
iframe {
    width: 60%;
    height: 500px;
}
iframe.tmblr-iframe.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
body#thetruthisouttheredraft {
	background : grey ;
}
.post.text.thetruthisoutthere.jlhaw3.postnow {
    color: black;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
}
.post.video.jlhaw3.thetruthisoutthereresearch.postnow.curategreen.curateorange.thetruthisoutthere.small {
    width: 40%;
    height: 300px;
}
.post.video.jlhaw3.thetruthisoutthereresearch.postnow.thetruthisoutthere.small {
    width: 40%;
    height: 300px;
}
post.video.jlhaw3.thetruthisoutthereresearch.postnow.thetruthisoutthere.small {
	display:block;
	float:centre;
	padding-left:10px;
	padding-right:10px;
}
body#thetruthisoutthere {
    background: lightgrey;
}
a {
    text-decoration: none;
    color: black;
}
