body#thetruthisouttheredraft {
	background : white ;
}

.post.photo {
	width:33%;
	display:block;
	float:left;
	padding-left:10px;
	padding-right:10px;
}
h3.tag_title {
    display: none;
}
a.link {
    display: none;
}
ul.tags {
    display: none;
}
.copy {
    width: 50%;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 40px;
}
.post.text h3.title a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 68px;
    line-height: 1.5;
}
.buttons-container.non-admin-buttons-container {
    display: none;
}
