
h3.tag_title {
    display: none;
}
a.link {
    display: none;
}

ul.tags {
    display: none;
}
iframe {
    width: 60%;
    height: 500px;
}
iframe.tmblr-iframe.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
body#thetruthisouttheredraft {
	background : grey ;
}
