
h3.tag_title {
    display: none;
}
a.link {
    display: none;
}

ul.tags {
    display: none;
}
iframe.tmblr-iframe.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
.post.text.thetruthisoutthere.jlhaw3.postnow {
    color: black;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
}
	
body#thetruthisoutthere {
    background: lightgrey;
}
a {
    text-decoration: none;
    color: black;
}
.post.video.jlhaw3.thetruthisoutthereresearch.postnow.curategreen.curateorange.thetruthisoutthere.small {
    float: left;
    width: 38%;
    display: block;

}
.post.video.jlhaw3.thetruthisoutthereresearch.postnow.curategreen.curateorange.thetruthisoutthere.small {
    float: left;
    width: 38%;
    display: block;

}
.post.video.jlhaw3.thetruthisoutthereresearch.postnow.thetruthisoutthere {
    float: left;
    width: 38%;
    display: block;
}

