body#thisdreamihaddraft{
  background: cyan; 
}
.post.leftdream {
    background-color: powderblue;
    position: fixed;
    left: 0px;
    top: 200px;
    width: 33.33%;
    padding: 30px;
    height: 800px;
    overflow: auto;
}

a.link {
    display: none;
}

.post.centredream {
    BACKGROUND-COLOR: thistle;
    position: fixed;
    top: 200px;
    width: 33.33%;
    padding: 30px;
    height: 800px;
    overflow: auto;
}

.post.rightdream {
    background-color: pink;
    position: fixed;
    right: 0px;
    top: 200px;
    width: 33.33%;
    padding:30px;
    height: 800px;
    overflow: auto;
 
}
