  body {
    font-family: verdana;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }

.post.leftdream {
    background-color: powderblue;
    position: fixed;
    left: 0px;
    top: 200px;
    width: 33.33%;
    padding: 30px;
    height: 100%;
    overflow: auto;
}

a.link {
    display: none;
}

.post.centredream {
    BACKGROUND-COLOR: thistle;
    position: fixed;
    top: 200px;
    width: 33.33%;
    padding: 30px;
    height: 100%;
    overflow: auto;
    left: 33.33%;
}

.post.rightdream {
    background-color: pink;
    position: fixed;
    right: 0px;
    top: 200px;
    width: 33.33%;
    padding:30px;
    height: 100%;
    overflow: auto;
 
}
