body#tlaw7games {
	font-family:gotham;
	background-color:black;
}

body#tlaw7games .post.text.tlaw7games.medium {
    border: 0px;
    margin-bottom:0px;
}

body#tlaw7games .post.text.tlaw7games.medium p {
	padding-bottom:0px;
}

body#tlaw7games .post.text.tlaw7games.medium a.link {
    display:none;
}

body#tlaw7games .post.text.tlaw7games.medium ul.tags {
    display:none;
}

body#tlaw7games .post iframe {
    width: 400px;
    max-width: 400px;
}

a {
 color:#000;
}


h3 {
    text-transform: uppercase;
    font-size: 40px;
    display: block;
    line-height: 100px;
    font-family: gotham;
}

h3.tag_title {
    display: none;
}

body#tlaw7games .post {
    max-height: inherit;
    overflow: visible;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    float: none;
    max-width: 100%;
}

.post.postnow {
display:block;
} 

body#tlaw7games .post.text {
    max-height: inherit;
    overflow: visible;
	color: cyan;
}

article.posts {
    width: 800px;
    margin: auto;
    text-align: center;
	color: cyan;
}

body#tlaw7games.post.text.tlaw7games.tlaw7gamestitle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    height: 100px;
	display:none !important;
}



body#tlaw7games .tumblr_video_container iframe {
    margin: auto;
}

body#tlaw7games b {
    text-transform: uppercase;
}

.nav.tlaw7games {
    position: fixed;
    top: 20px;
    left: 20px;
}

.nav.tlaw7games a {
    display: block;
}
body#fixed-menu 
{
 align-items: center;
}
.spacer
{
    width: 100%;
    height: 95px;

}


#tlaw7games .nav {
    position: fixed;
    font-family: Gotham;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    top: 20px;
    left:20px;
}
