body#tlaw7games {
	font-family:gotham;
	background-color:black;
}

body#tlaw7games .post.text.tlaw7games.medium {
    border: 0px;
    margin-bottom:0px;
}

body#tlaw7games .post.text.tlaw7games.medium p {
	padding-bottom:0px;
}

body#tlaw7games .post.text.tlaw7games.medium a.link {
    display:none;
}

body#tlaw7games .post.text.tlaw7games.medium ul.tags {
    display:none;
}

body#tlaw7games .post iframe {
    width: 400px;
    max-width: 300px;
}

a {
 color: pink;
	font-size: 11px;
}
a.link {
      font-size: 14px;
    font-family: gotham;
    text-transform: uppercase;
}
a:hover {
    text-decoration: overline;
	color: #fff0f5;
}

 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
h3 {
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    line-height: 100px;
    font-family: gotham;
}

h3.tag_title {
    display: none;
}

body#tlaw7games .post {
    max-height: inherit;
    overflow: visible;
    font-size: 10px;
    line-height: 30px;
    width: 100%;
    float: none;
    max-width: 400px;
}

.post.postnow {
display:block;
} 

body#tlaw7games .post.text {
    max-height: inherit;
    overflow: visible;
	color: cyan;
}

article.posts {
    width: 800px;
    margin: auto;
    text-align: center;
	color: cyan;
}

body#tlaw7games.post.text.tlaw7games.tlaw7gamestitle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    height: 100px;
	color: pink;
	display:none !important;
}



body#tlaw7games .tumblr_video_container iframe {
    margin: auto;
}

body#tlaw7games b {
    text-transform: uppercase;
}

.nav.tlaw7games {
    position: fixed;
    top: 20px;
    left: 20px;
}

.nav.tlaw7games a {
    display: block;
	color: pink;
}

body#tlaw7games #fixed-menu {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: black;
}

.spacer
{
    width: 100%;
    height: 95px;

}


#tlaw7games .nav {
	
    position: fixed;
    font-family: Gotham;
    font-size: 18px;
    text-align: center;
 
    margin-top: 10px;
    left:20px;
}
