body#tlaw7home   {
    background-color:black;
    font-family: gotham;
    margin: auto 0;
}
body#tlaw7home .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
body#tlaw7home  h3.tag_title {
    display: none;
}

body#tlaw7home8  a.link {
    display: none;
}

body#tlaw7home  ul.tags {
    display: none;
}
body#tlaw7home  p {
    color: white;
 
}

body#tlaw7home  iframe-controls-container {
    display: none;
    /*position: absolute;
    top: 0;
    right: 0;*/ 
}

h3.title {
    text-align: center;
    padding: 150px;
    font-size: -webkit-xxx-large;    
}

img.set_photos:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity .25s ease;
}

.copy {
    /*border: 1px solid #ccc;*/
    display: none;
    font-size: 10px;
    text-transform: uppercase;
}

.postcontainer:hover .copy {
    display:block; 
}

.postcontainer {
    width: 100%;
    height: auto;
    /* float: left; */
}

body#tlaw7home .post .postcontainer {
    padding: 28px;
   
}

body#tlaw7home .post {
    width: 90%;

}

/*171016*/

img.set_photos {
    padding: 6px 6px;
    float: left;
    width: 30%;
}

a {
    color: pink;
      
}

a:hover {
    text-decoration: overline;
     color: #fff0f5;
}

@media only screen and (max-width: 700px){
    img.set_photos {
        width: 50%;
        margin: 250px 250px;
    }
}

@media only screen and (max-width: 500px){
    img.set_photos {
        width: 100%;
    }
blockquote, q {
    quotes: none;
}
    
body#tlaw7 #fixed-menu {
    position: fixed;
    width: 100%;
    height: 250px;
    background-color: black;
}

}
.spacer
{
    width: 100%;
    height: 95px;
}
#tlaw7home .nav {
    position: fixed;
    font-family: Gotham;
    font-size: 18px;
    text-align: center;
   
    margin-top: 10px;
    left:20px;
}
