body#tlaw7 #fixedmenu
{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color:#333;
    padding: 15px;
}

.spacer
{
    width: 100%;
    height: 95px;

}


body#tlaw7 .nav {
    font-family: Gotham
       ;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

p {
    font-family: Gotham;
    font-size: 10px;
    color: cyan;
}

body#tlaw7 h3.tag_title {
display: none;
}

body#tlaw7 ul.tags {
    display: none;
}



body#tlaw7 .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}


body#tlaw7 .post {
    display: block;
    float: left;
    width: 400px;
    margin: 40px;
}

body#tlaw7 .post:nth-child(odd) {
    float: right;
    width: 500px;
    margin: 30px;
}



body#tlaw7 .post.quote {
    border-style: solid;
    border-width: 1pt;
    padding: 15pt;
}



body#tlaw7 span.time {
    display:none;
}




body#tlaw7 .text{
    font-family: courier-new;
    font-size:14px;
    line-height:14.5pt;
}

body#tlaw7 .copy{
    font-size:14px;
    line-height:14.5pt;
}

body#tlaw7 .caption{
    font-size:14px;
    line-height:14.5pt;
}

body#tlaw7 .append {
    position: fixed;

}


body#tlaw7 a {
    color: cyan;
}

body#nostalgiatome a:hover {
    text-decoration: overline;
}

body#tlaw7 img.set_photos {
    max-height: 350px;
}
