body#tlaw7research{
    background-color: black;
}
body#tlaw7research #fixed-menu {
    position: fixed;
    width: 100%;
    height: 78px;
    background-color: black;
}

.spacer
{
    width: 100%;
    height: 95px;

}

#tlaw7research .nav 
{
    position: fixed;
    font-family: Gotham;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    left:20px;
    background-color: black;
}

h3.tag_title {
display: none;
}

body#tlaw7research 
ul.tags {
    display: none;
}

body#tlaw7research 
.tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}

.post.text p {
    font-size: 50px;
    color: white;
}

.text {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 2.70em;
    line-height: 1.04em;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}


.container {
    padding: 20px;
}

a {
    text-decoration: none;
    color:pink;
        text-decoration: underline;
}

body#tlaw7research a.link {
    display: none;
}

a:hover {
    text-decoration: overline
}
i {
    font-style: italic;
}

bold {
    font-family: serif;
