body#volumedraft .tag_title {
    display: none;
}

body#volumedraft .link {
    display: none;
}

body#volumedraft .tags {
    display: none;
}

body#volumedraft .title {
    position: fixed;
    top: 50px;
    left: 80px;
    font-size: 60px;
    z-index: 0;
}
