body#volumeresearch .nav {
    position: fixed;
    z-index: 1;
    color: darkslategray;
    text-align: right;
    padding-left: 2%;
    padding-top: 17px;
    font-size: large;
}

body#volumeresearch .nav a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;
    /* line-height: 0; */
}

body#volumeresearch .container {
    padding-left: 20%;
    max-width: 5%%;
}

body#volumeresearch article.posts {
    /* max-height: 20px; */
}

body#volumeresearch a.chocolat-image.image {
    /* height: 50px; */
}

body#volumeresearch img.set_photos {
    height: 300px;
}

body#volumeresearch ul.tags {
    color: black;
    text-decoration: none;
}

body#volumeresearch .tags a {
    color: black;
    text-decoration: none;
    font-size: smaller;
}

body#volumeresearch .postcontainer a.link {
    color: grey;
    font-family: sans-serif;
    text-transform: capitalize;
}

body#volumeresearch .copy {
    color: darkslategrey;
    font-size: large;
    max-width: 60%;
    line-height: 1.6;
}

body#volumeresearch h3.title {
    color: darkblue;
}

body#volumeresearch .title a {
    color: darkblue;
    line-height: 2.4;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

body#volumeresearch h3.tag_title {
    display: none;
}
