body#voyagedraft .container {
    padding: 0;
    position: fixed;
    top: 250px;
    left: 50px;
    right: 50px;
}

body#voyagedraft ul.tags{
  display: none;
}
body#voyagedraft h3.tag_title {
    display: none;
}

body#voyagedraft a.link {
    display: none;
}

body#voyagedraft article.posts {
    width: 6000px;
}

body#voyagedraft .container {
    overflow-x: scroll;
}
body#voyagedraft .post.photo.voyagedraft.jmsch13 {
    width:initial;
    margin: 0;
    }
