body#voyage .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    z-index: 100;
    display: none;
}
body#voyage .post.text.voyage {
    width: initial;
    position: fixed;
    top: 100px;
    left: 50px;
    margin: 0;
    font-family: arial;
    font-weight: 600;
    font-size: 80px;
    color:rgba(27, 49, 94, 100);
    text-transform: uppercase;
}    
body#voyage .container {
    padding: 0;
    position: fixed;
    top: 300px;
    left: 0px;
    right: 0px;
}

body#voyage ul.tags{
  display: none;
}
body#voyage h3.tag_title {
    display: none;
}

body#voyage a.link {
    display: none;
}

body#voyage .container {
    overflow-x: scroll;
}
body#voyage .post.photo.voyage {
    width:initial;
    margin: 0;
    }
body#voyage img.set_photos {
    height: 400px;
    width: 531px;
}

body#voyage article.posts {
    width: 10100px;
    height: 400px;
    display: flex;
}
p {
    /* position: fixed; */
    /* top: 400px; */
}

body#voyage .post.text.voyage.abstract.jmsch13.postnow {
    position: fixed;
    top: 800px;
    left: 50px;
    font-size: 40px;
    font-weight 100;
    line-height: 1.2;
    text-transform: none;
    width: 962px;
}

body#voyage i {
    font-style: italic;
}
