body#voyagedraft ul.tags{
  visibility: hidden;
}
body#voyagedraft h3.tag_title {
    display: none;
}

body#voyagedraft a.link {
    display: none;
}

body#voyagedraft article.posts {
    width: 6000px;
}

body#voyagedraft .container {
    overflow-x: scroll;
}
