body#voyagedraft .post.text.voyagedraft.jmsch13 {
    width: initial;
    position: fixed;
    top: 100px;
    left: 50px;
    margin: 0;
    font-family: arial;
    font-size: 80px;
    color: grey;
    text-transform: uppercase;
}    
body#voyagedraft .container {
    padding: 0;
    position: fixed;
    top: 250px;
    left: 0px;
    right: 0px;
}

body#voyagedraft ul.tags{
  display: none;
}
body#voyagedraft h3.tag_title {
    display: none;
}

body#voyagedraft a.link {
    display: none;
}

body#voyagedraft .container {
    overflow-x: scroll;
}
body#voyagedraft .post.photo.voyagedraft.jmsch13 {
    width:initial;
    margin: 0;
    }
body#voyagedraft img.set_photos {height: 400px;}

body#voyagedraft article.posts {
    width: 6000px;
    height: 400px;
    display: flex;
}
