body#voyage .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    right: 0;
    top: 0;
    display: none;
}
body#voyage ul.tags{
  display: none;
}
body#voyage h3.tag_title {
    display: none;
}
body#voyage a.link {
    display: none;
}
   
body#voyage .container {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top: 18%;
    left: 0px;
    right: 0px;
}
body#voyage .post.photo.voyage {
    width:initial;
    margin: 0;
    }
body#voyage img.set_photos {
    height: 400px;
    width: 531px;
}

body#voyage article.posts {
    width: 10620px;
    height: 400px;
    display: flex;
}

body#voyage i {
    font-style: italic;
}

.title{
    position: fixed;
    top: 100px;
    left: 50px;
    margin: 0;
    font-family: arial;
    font-weight: 600;
    font-size: 80px;
    color:rgba(27, 49, 94, 100);
    text-transform: uppercase;
}
.abstract{
      position: fixed;
    top: 80%;
    left: 50px;
    font-size: 100%;
    line-height: 1.5;
    text-transform: none;
    width: 962px;
}
    
