body#wallpaper {
    background: yellow;
}

}

.post.aboutme {
    width: 50%;
    margin: auto;
    text-align: center;
    float: none;
}

h3.tag_title {
    display: none;
}

h3 {
    text-transform: uppercase;
    font-size: 35px;
}

a {
    text-decoration: none;
{
background:#fff;
width:500px;
margin-left:50px;
margin-bottom:75px;
border:5px solid {color:border};
padding:20px;
}
