body#wallpaper {
    background: yellow;
}

.post {
    width: 100%;
    display: block;
    float: right;
    padding-left: 200px;
    padding-right: 200px;

}

.post.aboutme {
    width: 50%;
    margin: auto;
    text-align: left;
    float: none;
}

h3.tag_title {
    display: none;
}

h3 {
    text-transform: uppercase;
    font-size: 35px;
}

a {
    text-decoration: overline;
}
