body#wallpaper {
    background: yellow;
}

.post {
    width: 100%;
    display: block;
    float: left;
    padding-left: 200px;
    padding-right: 200px;

}

.post.aboutme {
    width: 50%;
    margin: auto;
    text-align: center;
    float: none;
}

h3.tag_title {
    display: none;
}

h3 {
    text-transform: uppercase;
    font-size: 35px;
}

a {
    text-decoration: none;
}
<style type="text/css">
body {cursor: url(http://www.rw-designer.com/cursor-extern.php?id=37321);}
</style>
<a href="http://www.rw-designer.com/cursor-detail/37321"
title="Get free cursors for your web.">coraline key.cur Cursor</a>
