
body#watchandlearnresearch {
    background-color: black;
}

body {
    font-family: serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: white;
}

ol, ul {
    list-style: none;
    display: none;
}

 a.link {
    display: none;
}

a.text {
    text-decoration: underline;
    font-family: sans-serif;
    color: salmon;
}
