body#watchandlearndraft{
  background: white;
  
}

a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    display: none;
}
