
body#watchandlearnresearch {
    background-color: darkgreen;
}

h3.tag_title {
    text-transform: uppercase;
    display: none;
}

body {
    font-family: serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: white;
}

ol, ul {
    list-style: none;
    display: none;
}

 a.link {
    display: none;
}

a.caption {
    text-decoration: underline;
    font-family: sans-serif;
    color: salmon;
}

.post {
    display: block;
    float: left;
    width: 500px;
    margin: 40px;
    padding: 20px;
}

