
element#watchandlearn .style {
    background-color: black;
}

h3.tag_title {
    padding-bottom: 20px;
    display: none;
}

.post ul.tags {
    display: none;
}

 a.link {
    display: none;
}

body#watchandlearn .container {
    overflow-x: scroll;
}

body#watchandlearn article.posts {
    width: 1200px;
    height: 1000px;
    display: flex;
}
  
 body#voyage img.set_photos {
    height: 500px;
}
