
body#watchandlearn {
    background-color: black;
}
/*POSTS BY CLE19*/
h3.tag_title {
    padding-bottom: 20px;
    display: none;
}

.post {
    width: 500px;
    height: 280px;
    display: block;
    float: left;
}

.post ul.tags {
    display: none;
}

 a.link {
    display: block;
}


a {
    text-decoration: none;
}

body#watchandlearn .container {
    overflow-x: scroll;
    position: fixed;
    top: 20%;
    left: 0px;
    right: 0px;
}

body#watchandlearn article.posts {
    width: 7500px;
    height: 300px;
}

/*
.example1 h3 {
    position: relative;
    z-index: 1;
    line-height: 50px;
    text-align: center;
    font-family: helvetica;
    font-size: 35px;
    color: white;
}*/

marquee.html-marquee {
    position: absolute;
    margin: auto;
    z-index: 21;
    margin-left: -691px;
    margin-top: 120px;
    top: 50%;
    left: 50%;
}

marquee.marqueeTwo {
    position: absolute;
    margin: auto;
    z-index: 21;
    margin-left: -191px;
    margin-top: 120px;
    top: 50%;
    left: 50%;
}

marquee.marqueeThree {
    margin: auto;
    z-index: 21;
    margin-left: 309px;
    margin-top: 120px;
    top: 50%;
    left: 50%;
    position: absolute;
}


marquee.marqueeInstructions {
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
}
