body#watchandlearndraft{
  background: white;
  
}

h3.tag_title {
    padding-bottom: 20px;
    display: none;
}

.post ul.tags {
    display: none;
}

 a.link {
    display: none;
}

<video controls autoplay>
  <source src="ChessTutorial.mp4" type="video/mp4">
  <source src="CornSlowMo.mp4" type="video/mp4">
  <source src="MonkeySelfie2.mp4" type="video/mp4">
</video>
