img.set_photos {}

.post.photo.jahar25.watercolourdessertdraft {
    height: 350px;
    width: 350px;
    overflow: scroll;
}
.post.photo.jahar25.watercolourdessertdraft {
    display: inline-block;
    width: 350px;
    height: 350px;
    zoom: 1;
}

.post.photo.jahar25.watercolourdessertdraft {
    float: left;
}

.post.photo.jahar25.watercolourdessertdraft {
    width: 300px;
    height: 300px;
}

.post.photo.jahar25.watercolourdessertdraft {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}
.post.photo.jahar25.watercolourdessertdraft {
    padding-left: 100px;
    padding-right: 100px;
}
