img.set_photos {}

.post.photo.jahar25.watercolourdessertdraft {
    height: 350px;
    width: 350px;
    overflow: scroll;
}

.post.photo.jahar25.watercolourdessertdraft {
    float: left;
}

.post.photo.jahar25.watercolourdessertdraft {
    width: 300px;
    height: 300px;
}

.post.photo.jahar25.watercolourdessertdraft {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

ul.tags {
    display: none;
}

a.link {
    display: none;
    font-size: 14px;
    font-family: courier;
    text-transform: uppercase;
}

.post.photo.watercolourdessertdraft.jahar25 {
    font-size: small;
    font-family: fantasy;
    text-align: center;
}

h3.tag_title {
    display: none;
}

.post.photo.jahar25.watercolourdessertdraft {
    display: block;
    height: 300px;
    width: 300px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
