img.set_photos {}

.post.photo.jahar25.watercolourdessertdraft {
    height: 350px;
    width: 350px;
    overflow: scroll;
}
.postcontainer {
    display: inline-block;
    width: 350px;
    height: 350px;
    zoom: 1;
}
