@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body#wheatpastedraft head {
    display: none;
}

body#wheatpastedraft body {
    font-family: Roboto, sans-serif;
    
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    background-color: #fff000;
    
}

body#wheatpastedraft .title{
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

body#wheatpastedraft .nav{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body#wheatpastedraft a{
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #000000;
}

body#wheatpastedraft a:hover{
    font-family: Roboto, sans-serif;
    color: #ff0000;
}

body#wheatpastedraft a.link {
    display: block;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

body#wheatpastedraft .container{
    padding: 20px;
    text-align: center;
}
