body#wheatpastedraft head {
    display: none;
}

body#wheatpastedraft body {
    font-family: arial;
    
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.02em;
    background-color: #f1f1f1;
    background-image: url("https://65.media.tumblr.com/b59a1295422624add023040327757e95/tumblr_ofkq3sK0jc1qiluvco1_1280.png")
}

body#wheatpastedraft a{
    text-decoration: none;
    color: #000000;
}

body#wheatpastedraft a:hover{
    color: #ff0000;
}

body#wheatpastedraft a.link {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

body#wheatpastedraft .container{
    padding: 20px;
    text-align: center;
}
