
body#yzha582 .container {
    padding: 0;
    position: fixed;
    top: 250px;
    left: 50px;
    right: 50px;
}

body#yzha582 ul.tags{
  display: none;
}
body#yzha582 h3.tag_title {
    display: none;
}

body#yzha582 a.link {
    display: none;
}

body#yzha582 article.posts {
    width: 6000px;
}

body#yzha582 .container {
    overflow-y: scroll;
}
