article.posts { 
width: 800px; 
margin: auto; 
text-align: center; 
}


body#megaphone h3.tag_title {
display: none;
}

body#megaphone ul.tags {
    display: none;
}

body#megaphone .copy {
    display: none;
}

body#megaphone a.link {
    display: none;
}

body#megaphone .tmblr-iframe--desktop-logged-in-controls.iframe-controls--desktop {
    display: none;
}
